Repository CloudlyIO/torchbridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-changelog-updated, check-docs-updated, sync-doc-versions, check-documentation-policy

.pre-commit-config.yaml:

# Pre-commit hooks for KernelPyTorch
# Ensures code quality and version consistency

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']

  # Ruff - Fast Python linter and formatter (replaces Black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local custom hooks for version/doc validation
  - repo: local
    hooks:
      # Check version consistency across files
      - id: check-version-consistency
        name: Check version consistency
        entry: python3 scripts/check_version_consistency.py
        language: system
        pass_filenames: false
        always_run: true

      # Check CHANGELOG.md updated
      - id: check-changelog-updated
        name: Check CHANGELOG.md updated
        entry: python3 scripts/check_changelog_updated.py
        language: system
        files: ^(src/|tests/|benchmarks/|demos/)

      # Check documentation updated
      - id: check-docs-updated
        name: Check documentation updated
        entry: python3 scripts/check_docs_updated.py
        language: system
        files: ^src/kernel_pytorch/backends/

      # Check documentation versions match __version__
      - id: sync-doc-versions
        name: Sync documentation versions
        entry: python3 scripts/sync_doc_versions.py
        language: system
        pass_filenames: false
        files: ^src/kernel_pytorch/__init__\.py$

      # Check documentation policy (no unauthorized .md files)
      - id: check-documentation-policy
        name: Check documentation policy
        entry: python3 scripts/check_documentation_policy.py
        language: system
        pass_filenames: false
        types: [markdown]

test(paper): key the results-branch skip on the files, not the directory
  tests/unit/test_build_tables.py
Due: check-changelog-updated

fix(validate): canonicalise the backend alias in the non-trace compare path
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  tests/unit/test_backend_device_resolution.py
Due: check-changelog-updated, check-documentation-policy

fix(tolerance): stop calling the xla tolerance measured
  CHANGELOG.md
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_backend_device_resolution.py
  tests/unit/test_tolerance_db.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(validate): shape-check the split flags instead of truth-testing them
  src/torchbridge/cli/validate.py
  tests/unit/test_split_trace_cli.py
Due: check-changelog-updated

feat(validate): make the cross-vendor comparison correct and possible (#112)
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/core/hardware_detector.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_backend_device_resolution.py
  tests/unit/test_split_trace_cli.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(rocm): make every ROCm check agree on the empty HIP string
  CHANGELOG.md
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/backends/backend_factory.py
  tests/unit/test_rocm_detection_consistency.py
Due: check-changelog-updated, check-documentation-policy

docs(trace): replace the 500x claim with the figure we measured
  CHANGELOG.md
  src/torchbridge/testing/trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(trace): resolve the tolerance key where the record was made
  CHANGELOG.md
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

feat(validate): add tpu backend, record result provenance, build paper tables
  CHANGELOG.md
  scripts/paper/__init__.py
  scripts/paper/build_tables.py
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_backend_device_resolution.py
  tests/unit/test_build_tables.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(paper): stop reporting absent measurements as clean results, hash once
  CHANGELOG.md
  scripts/paper/build_tables.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_build_tables.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(validate): make an XLA result say which XLA chip ran
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_backend_device_resolution.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

test(paper): assert the committed results by dtype, not by count
  tests/unit/test_build_tables.py
Due: check-changelog-updated

fix(tpu): let the compiler accept its own output
  CHANGELOG.md
  src/torchbridge/backends/tpu/tpu_adapter.py
  src/torchbridge/backends/tpu/xla_compiler.py
  tests/backends/test_tpu_backend.py
Due: check-changelog-updated, check-documentation-policy

fix(tpu): make the TPU tests exercise XLA instead of its absence
  .github/workflows/ci.yml
  CHANGELOG.md
  src/torchbridge/backends/tpu/tpu_adapter.py
  src/torchbridge/backends/tpu/xla_compiler.py
  tests/backends/test_tpu_backend.py
Due: check-changelog-updated, check-documentation-policy

feat(validate): let a split trace refuse a mismatched pair
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  tests/unit/test_split_trace_cli.py
Due: check-changelog-updated, check-documentation-policy

style: ruff format the new strict-env tests
  tests/unit/test_split_trace_cli.py
Due: check-changelog-updated

test(validate): cover --strict-env on the replay path, not just offline
  tests/unit/test_split_trace_cli.py
Due: check-changelog-updated

fix(tolerance): stop calling the trainium2 numbers measured
  CHANGELOG.md
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(validate): require a real NeuronCore before accepting 'trainium'
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  tests/unit/test_backend_device_resolution.py
Due: check-changelog-updated, check-documentation-policy

test(xla): cover the shim a TPU booking is decided by, and un-hide a CI step
  .github/workflows/ci.yml
  tests/backends/test_xla_compat.py
Due: check-changelog-updated

fix(torchao): tell an API rename apart from a missing package
  CHANGELOG.md
  src/torchbridge/adapters/layers.py
  src/torchbridge/precision/torchao_compat.py
  src/torchbridge/precision/torchao_integration.py
  tests/integration/test_adapter_pipeline.py
  tests/unit/test_adapter_layers.py
  tests/unit/test_torchao_integration.py
Due: check-changelog-updated, check-documentation-policy

test(models): make the encoder and vision-language tests actually run
  pyproject.toml
  tests/models/test_qwen25_vl_hal.py
Due: check-changelog-updated

test(compile): stop test_dinov2_compile failing on the draw
  tests/stress/test_torch_compile_compat.py
Due: check-changelog-updated

style: sort the imports ruff wanted after the rebase
  tests/unit/test_torchao_integration.py
Due: check-changelog-updated

feat(validate): add tpu backend, record result provenance, build paper tables (#118)
  CHANGELOG.md
  scripts/paper/__init__.py
  scripts/paper/build_tables.py
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/tolerance_db.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_backend_device_resolution.py
  tests/unit/test_build_tables.py
  tests/unit/test_split_trace_cli.py
  tests/unit/test_tolerance_db.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(rocm): make every ROCm check agree on the empty HIP string (#119)
  CHANGELOG.md
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/backends/backend_factory.py
  tests/unit/test_rocm_detection_consistency.py
Due: check-changelog-updated, check-documentation-policy

fix(tpu): make the TPU tests exercise XLA instead of its absence (#117)
  .github/workflows/ci.yml
  CHANGELOG.md
  src/torchbridge/backends/tpu/tpu_adapter.py
  src/torchbridge/backends/tpu/xla_compiler.py
  tests/backends/test_tpu_backend.py
  tests/backends/test_xla_compat.py
Due: check-changelog-updated, check-documentation-policy

fix(deps): install the optional dependencies the tests guard on, and fix what they hid (#120)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/layers.py
  src/torchbridge/precision/torchao_compat.py
  src/torchbridge/precision/torchao_integration.py
  tests/integration/test_adapter_pipeline.py
  tests/models/test_qwen25_vl_hal.py
  tests/stress/test_torch_compile_compat.py
  tests/unit/test_adapter_layers.py
  tests/unit/test_torchao_integration.py
Due: check-changelog-updated, check-documentation-policy

results(paper1): carry the A10G traces onto the current history
  results/paper1/a10g_notes.txt
  results/paper1/qwen3-0.6b_a10g_sanity.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_bfloat16.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_float16.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_float32.json
  results/paper1/validate_aws_a10g.json
Due: none

results(paper1): commit the A10G traces to main so CI guards the numbers
  results/paper1/a10g_notes.txt
  results/paper1/qwen3-0.6b_a10g_sanity.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_bfloat16.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_float16.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_float32.json
  results/paper1/validate_aws_a10g.json
Due: none

fix(validate): stop every plain encoder being inferred as decoder-small
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_model_family_resolution.py
  tests/unit/test_tolerance_db.py
Due: check-changelog-updated, check-documentation-policy

results(paper1): commit the A10G traces to main so CI guards the numbers (#122)
  results/paper1/a10g_notes.txt
  results/paper1/qwen3-0.6b_a10g_sanity.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_bfloat16.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_float16.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_float32.json
  results/paper1/validate_aws_a10g.json
Due: none

fix(validate): stop every plain encoder being inferred as decoder-small (#123)
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_model_family_resolution.py
  tests/unit/test_tolerance_db.py
Due: check-changelog-updated, check-documentation-policy

feat(validate): run encoder and vision-language models, not only decoders
  src/torchbridge/cli/model_io.py
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_model_io.py
Due: check-changelog-updated

fix(validate): four defects in the new model-kind path, one a regression
  src/torchbridge/cli/model_io.py
  src/torchbridge/cli/validate.py
  tests/unit/test_model_io.py
Due: check-changelog-updated

fix(trace): apply the logits shape guard to the second extractor too
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_model_io.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated
