Repository CloudlyIO/torchbridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-changelog-updated, check-docs-updated, sync-doc-versions, check-documentation-policy

.pre-commit-config.yaml:

# Pre-commit hooks for KernelPyTorch
# Ensures code quality and version consistency

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']

  # Ruff - Fast Python linter and formatter (replaces Black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local custom hooks for version/doc validation
  - repo: local
    hooks:
      # Check version consistency across files
      - id: check-version-consistency
        name: Check version consistency
        entry: python3 scripts/check_version_consistency.py
        language: system
        pass_filenames: false
        always_run: true

      # Check CHANGELOG.md updated
      - id: check-changelog-updated
        name: Check CHANGELOG.md updated
        entry: python3 scripts/check_changelog_updated.py
        language: system
        files: ^(src/|tests/|benchmarks/|demos/)

      # Check documentation updated
      - id: check-docs-updated
        name: Check documentation updated
        entry: python3 scripts/check_docs_updated.py
        language: system
        files: ^src/kernel_pytorch/backends/

      # Check documentation versions match __version__
      - id: sync-doc-versions
        name: Sync documentation versions
        entry: python3 scripts/sync_doc_versions.py
        language: system
        pass_filenames: false
        files: ^src/kernel_pytorch/__init__\.py$

      # Check documentation policy (no unauthorized .md files)
      - id: check-documentation-policy
        name: Check documentation policy
        entry: python3 scripts/check_documentation_policy.py
        language: system
        pass_filenames: false
        types: [markdown]

feat: add cloud validation script for v0.5.8 model examples
  scripts/cloud_testing/validate_model_examples.sh
Due: none

add cloud validation script for v0.5.8 model examples
  scripts/cloud_testing/validate_model_examples.sh
Due: none

fix: handle unbound PYTHONPATH and improve error resilience in validation script
  scripts/cloud_testing/validate_model_examples.sh
Due: none

fix: handle missing flash-attn gracefully in LLMOptimizer, fix torch_dtype deprecation
  src/torchbridge/models/llm/llm_optimizer.py
Due: check-changelog-updated

add .env credential support and fix validation script bugs
  .env.example
  scripts/cloud_testing/validate_model_examples.sh
Due: none

fix: .env credential support, validation script fixes
  .env.example
  scripts/cloud_testing/validate_model_examples.sh
Due: none

chore: remove remaining hardcoded version strings
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  README.md
  examples/bert_squad/requirements.txt
  scripts/cloud_testing/common/utils.sh
Due: check-documentation-policy

cleanup: remove remaining hardcoded version strings
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  README.md
  examples/bert_squad/requirements.txt
  scripts/cloud_testing/common/utils.sh
Due: check-documentation-policy

v0.5.10: AWS Trainium backend
  CHANGELOG.md
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.serving
  docker/Dockerfile.trainium
  docs/backends/trainium.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/backends/__init__.py
  src/torchbridge/backends/backend_factory.py
  src/torchbridge/backends/trainium/__init__.py
  src/torchbridge/backends/trainium/memory_manager.py
  src/torchbridge/backends/trainium/neuron_compiler.py
  src/torchbridge/backends/trainium/neuron_utilities.py
  src/torchbridge/backends/trainium/trainium_backend.py
  src/torchbridge/backends/trainium/trainium_exceptions.py
  src/torchbridge/backends/trainium/trainium_optimizer.py
  src/torchbridge/core/config.py
  tests/backends/test_trainium_backend.py
Due: check-changelog-updated, check-documentation-policy

v0.5.10: feat: AWS Trainium backend
  CHANGELOG.md
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.serving
  docker/Dockerfile.trainium
  docs/backends/trainium.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/backends/__init__.py
  src/torchbridge/backends/backend_factory.py
  src/torchbridge/backends/trainium/__init__.py
  src/torchbridge/backends/trainium/memory_manager.py
  src/torchbridge/backends/trainium/neuron_compiler.py
  src/torchbridge/backends/trainium/neuron_utilities.py
  src/torchbridge/backends/trainium/trainium_backend.py
  src/torchbridge/backends/trainium/trainium_exceptions.py
  src/torchbridge/backends/trainium/trainium_optimizer.py
  src/torchbridge/core/config.py
  tests/backends/test_trainium_backend.py
Due: check-changelog-updated, check-documentation-policy

cleanup: remove stale Intel enum, fix PyPI name, clean identity markers
  SECURITY.md
  demos/auto_backend_selection_demo.py
  src/torchbridge/core/hardware_detector.py
  templates/github-actions/torchbridge-validate.yml
  tests/features/test_auto_optimization.py
  tests/unit/test_performance_tracker.py
Due: check-changelog-updated, check-documentation-policy
