Repository CloudlyIO/torchbridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-changelog-updated, check-docs-updated, sync-doc-versions, check-documentation-policy

.pre-commit-config.yaml:

# Pre-commit hooks for KernelPyTorch
# Ensures code quality and version consistency

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']

  # Ruff - Fast Python linter and formatter (replaces Black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local custom hooks for version/doc validation
  - repo: local
    hooks:
      # Check version consistency across files
      - id: check-version-consistency
        name: Check version consistency
        entry: python3 scripts/check_version_consistency.py
        language: system
        pass_filenames: false
        always_run: true

      # Check CHANGELOG.md updated
      - id: check-changelog-updated
        name: Check CHANGELOG.md updated
        entry: python3 scripts/check_changelog_updated.py
        language: system
        files: ^(src/|tests/|benchmarks/|demos/)

      # Check documentation updated
      - id: check-docs-updated
        name: Check documentation updated
        entry: python3 scripts/check_docs_updated.py
        language: system
        files: ^src/kernel_pytorch/backends/

      # Check documentation versions match __version__
      - id: sync-doc-versions
        name: Sync documentation versions
        entry: python3 scripts/sync_doc_versions.py
        language: system
        pass_filenames: false
        files: ^src/kernel_pytorch/__init__\.py$

      # Check documentation policy (no unauthorized .md files)
      - id: check-documentation-policy
        name: Check documentation policy
        entry: python3 scripts/check_documentation_policy.py
        language: system
        pass_filenames: false
        types: [markdown]

fix: pre-release critical and high-severity issues (v0.5.100 review)
  .github/workflows/docker.yml
  scripts/validation/run_gpu_validation.py
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/cli/validate.py
  src/torchbridge/core/config.py
  src/torchbridge/core/hardware_detector.py
  src/torchbridge/distributed/fsdp.py
  src/torchbridge/precision/compatibility.py
  src/torchbridge/testing/tolerance_db.py
Due: check-changelog-updated

fix: pre-release critical and high-severity issues (v0.5.100 review) (#102)
  .github/workflows/docker.yml
  scripts/validation/run_gpu_validation.py
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/cli/validate.py
  src/torchbridge/core/config.py
  src/torchbridge/core/hardware_detector.py
  src/torchbridge/distributed/fsdp.py
  src/torchbridge/precision/compatibility.py
  src/torchbridge/testing/tolerance_db.py
Due: check-changelog-updated

docs: publish benchmark results + fix false claim count in CONTRIBUTING
  CONTRIBUTING.md
  docs/benchmarks.md
Due: check-documentation-policy

fix: update CDNA3 fallback chain test after MINIMAX_MSA+GLM_INDEX_SHARE addition
  tests/unit/test_attention_dispatch_compatibility.py
Due: check-changelog-updated

docs: publish benchmark results and fix false claim count
  CONTRIBUTING.md
  docs/benchmarks.md
  tests/unit/test_attention_dispatch_compatibility.py
Due: check-changelog-updated, check-documentation-policy

docs: update validation results to v0.5.100 (2026-07-21 cycle)
  README.md
  docs/reference/cloud-validation.md
Due: check-documentation-policy

docs: update validation results to v0.5.100 (2026-07-21)
  README.md
  docs/reference/cloud-validation.md
Due: check-documentation-policy

docs: consistency pass — version, structure, and community links
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  README.md
  docs/getting_started/quickstart.md
Due: check-documentation-policy

docs: hardware-matrix and roadmap consistency pass
  docs/ROADMAP.md
  docs/reference/hardware-matrix.md
Due: check-documentation-policy

fix(validation): run real NeuronCore on Trainium, update validation results
  README.md
  docs/reference/cloud-validation.md
  docs/reference/hardware-matrix.md
  scripts/validation/run_gpu_validation.py
Due: check-documentation-policy

docs: correct tolerance DB entry count (80 → 442) everywhere
  README.md
  docs/ROADMAP.md
Due: check-documentation-policy

docs: fix tolerance DB breakdown math (13×13×3=507≠442)
  README.md
  docs/ROADMAP.md
Due: check-documentation-policy

fix(ci): install package deps before release-readiness pytest collect
  .github/workflows/publish.yml
Due: none

fix(ci): use PyPI API token instead of OIDC (trusted publisher mismatch)
  .github/workflows/publish.yml
Due: none

fix(ci): use PyPI API token for publishing (OIDC trusted publisher mismatch)
  .github/workflows/publish.yml
Due: none

fix(trace): pass model family to the tolerance lookup
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_model_family_resolution.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(validate): address review on family inference and result fields
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_model_family_resolution.py
Due: check-changelog-updated, check-documentation-policy

fix(validate): show the applied tolerance in the human trace output
  src/torchbridge/cli/validate.py
  tests/unit/test_model_family_resolution.py
Due: check-changelog-updated

fix(trace): pass model family to the tolerance lookup (#111)
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_model_family_resolution.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(trace): address review on split-trace records
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_split_trace_cli.py
Due: check-changelog-updated, check-documentation-policy

feat(validate): make the cross-vendor comparison correct and possible
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/core/hardware_detector.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_backend_device_resolution.py
  tests/unit/test_split_trace_cli.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(trace): tighten the split-trace guards
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_split_trace_cli.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

docs(trace): state what the weight fingerprint cannot catch
  CHANGELOG.md
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(validate): make the split-trace CLI say and do what it documents
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  tests/unit/test_split_trace_cli.py
Due: check-changelog-updated, check-documentation-policy

fix(trace): normalise the trace input before the step loop
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_split_trace_cli.py
Due: check-changelog-updated

fix(rocm): make every ROCm check agree on the empty HIP string
  CHANGELOG.md
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/backends/backend_factory.py
  tests/unit/test_rocm_detection_consistency.py
Due: check-changelog-updated, check-documentation-policy

fix(paper): stop reporting absent measurements as clean results, hash once
  CHANGELOG.md
  scripts/paper/build_tables.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_build_tables.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

fix(trace): resolve the tolerance key where the record was made
  CHANGELOG.md
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

feat(validate): add tpu backend, record result provenance, build paper tables
  CHANGELOG.md
  scripts/paper/__init__.py
  scripts/paper/build_tables.py
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_backend_device_resolution.py
  tests/unit/test_build_tables.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy

test(paper): assert the committed results by dtype, not by count
  tests/unit/test_build_tables.py
Due: check-changelog-updated

fix(validate): make an XLA result say which XLA chip ran
  CHANGELOG.md
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_backend_device_resolution.py
  tests/unit/test_trace_validator.py
Due: check-changelog-updated, check-documentation-policy
