Repository CloudlyIO/torchbridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-changelog-updated, check-docs-updated, sync-doc-versions, check-documentation-policy

check-changelog-updated:
  name: Check CHANGELOG.md updated
  entry: python3 scripts/check_changelog_updated.py
  language: system

check-docs-updated:
  name: Check documentation updated
  entry: python3 scripts/check_docs_updated.py
  language: system

sync-doc-versions:
  name: Sync documentation versions
  entry: python3 scripts/sync_doc_versions.py
  language: system
  pass_filenames: false

check-documentation-policy:
  name: Check documentation policy
  entry: python3 scripts/check_documentation_policy.py
  language: system
  pass_filenames: false

chore: codebase cleanup — Trainium consistency, stale ref removal
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/cross-backend-validation.yml
  README.md
  benchmarks/README.md
  benchmarks/backend_comparison.py
  demos/unified_backend_demo.py
  docs/backends/overview.md
  docs/getting_started/quickstart.md
  docs/guides/backend-selection.md
  docs/guides/cli.md
  docs/guides/distributed-training.md
  docs/reference/hardware-matrix.md
  examples/models/embedding/bge_m3_cross_backend.py
  pyproject.toml
  scripts/cloud_dashboards/cross_platform_comparison.py
  src/torchbridge/__init__.py
  src/torchbridge/backends/base_adapter.py
  src/torchbridge/backends/base_backend.py
  src/torchbridge/backends/base_exceptions.py
  src/torchbridge/backends/base_memory_manager.py
  src/torchbridge/cli/init.py
  src/torchbridge/core/errors.py
  src/torchbridge/models/__init__.py
  src/torchbridge/models/llm/llm_optimizer.py
  tests/cloud_testing/benchmark_database.py
  tests/features/test_auto_optimization.py
  tests/integration/test_backend_integration.py
  tests/integration/test_backend_unification.py
  tests/models/test_minilm_hal.py
Due: check-changelog-updated, check-documentation-policy

codebase cleanup: Trainium consistency, stale ref removal, workflow rename
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/cross-backend-validation.yml
  README.md
  benchmarks/README.md
  benchmarks/backend_comparison.py
  demos/unified_backend_demo.py
  docs/backends/overview.md
  docs/getting_started/quickstart.md
  docs/guides/backend-selection.md
  docs/guides/cli.md
  docs/guides/distributed-training.md
  docs/reference/hardware-matrix.md
  examples/models/embedding/bge_m3_cross_backend.py
  pyproject.toml
  scripts/cloud_dashboards/cross_platform_comparison.py
  src/torchbridge/__init__.py
  src/torchbridge/backends/base_adapter.py
  src/torchbridge/backends/base_backend.py
  src/torchbridge/backends/base_exceptions.py
  src/torchbridge/backends/base_memory_manager.py
  src/torchbridge/cli/init.py
  src/torchbridge/core/errors.py
  src/torchbridge/models/__init__.py
  src/torchbridge/models/llm/llm_optimizer.py
  tests/cloud_testing/benchmark_database.py
  tests/features/test_auto_optimization.py
  tests/integration/test_backend_integration.py
  tests/integration/test_backend_unification.py
  tests/models/test_minilm_hal.py
Due: check-changelog-updated, check-documentation-policy

v0.5.22: chore: codebase consistency — Trainium parity, naming standardization
  CHANGELOG.md
  benchmarks/framework/next_gen.md
  docker/Dockerfile.amd
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.serving
  docker/Dockerfile.trainium
  docs/conf.py
  pyproject.toml
  src/torchbridge/__init__.py
  tests/README.md
  tests/benchmark/__init__.py
  tests/benchmark/test_advanced_memory_benchmarks.py
  tests/benchmark/test_cli_benchmarks.py
  tests/benchmark/test_next_gen_benchmarks.py
Due: check-changelog-updated, check-documentation-policy

v0.5.22: codebase consistency — Trainium parity, naming standardization
  CHANGELOG.md
  benchmarks/framework/next_gen.md
  docker/Dockerfile.amd
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.serving
  docker/Dockerfile.trainium
  docs/conf.py
  pyproject.toml
  src/torchbridge/__init__.py
  tests/README.md
  tests/benchmark/__init__.py
  tests/benchmark/test_advanced_memory_benchmarks.py
  tests/benchmark/test_cli_benchmarks.py
  tests/benchmark/test_next_gen_benchmarks.py
Due: check-changelog-updated, check-documentation-policy

pre-beta polish: CLI error handling, Pydantic bounds, quickstart pitfalls, docs expansion
  CHANGELOG.md
  docs/getting_started/quickstart.md
  docs/guides/data-handling.md
  src/torchbridge/cli/benchmark.py
  src/torchbridge/cli/doctor.py
  src/torchbridge/cli/export.py
  src/torchbridge/cli/init.py
  src/torchbridge/cli/migrate.py
  src/torchbridge/cli/optimize.py
  src/torchbridge/cli/profile.py
  src/torchbridge/cli/validate.py
  src/torchbridge/deployment/serving/llm_server.py
  tests/e2e/test_llm_server.py
Due: check-changelog-updated, check-documentation-policy

chore: pre-beta polish — CLI error handling, Pydantic bounds, docs expansion
  CHANGELOG.md
  docs/getting_started/quickstart.md
  docs/guides/data-handling.md
  src/torchbridge/cli/benchmark.py
  src/torchbridge/cli/doctor.py
  src/torchbridge/cli/export.py
  src/torchbridge/cli/init.py
  src/torchbridge/cli/migrate.py
  src/torchbridge/cli/optimize.py
  src/torchbridge/cli/profile.py
  src/torchbridge/cli/validate.py
  src/torchbridge/deployment/serving/llm_server.py
  tests/e2e/test_llm_server.py
Due: check-changelog-updated, check-documentation-policy

production readiness cleanup: dependency bounds, OTel tracing, fuzz tests
  pyproject.toml
  src/torchbridge/monitoring/structured_logging.py
  tests/unit/test_fuzz_validation.py
Due: check-changelog-updated

chore: production readiness — dependency bounds, OTel tracing, fuzz tests
  pyproject.toml
  src/torchbridge/monitoring/structured_logging.py
  tests/unit/test_fuzz_validation.py
Due: check-changelog-updated

fix: production readiness — 15 files, 17 findings fixed
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/amd-gpu-test.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  benchmarks/benchmark_configs.yaml
  benchmarks/framework/baseline_implementations.py
  benchmarks/framework/benchmark_runner.py
  benchmarks/run_comprehensive_benchmark.py
  demos/production_pipeline_demo.py
  docker/Dockerfile.development
  docs/backends/overview.md
  scripts/validation/cloud_orchestrator.py
  scripts/validation/cost_optimized_validation.py
  src/torchbridge/cli/doctor.py
Due: check-changelog-updated, check-documentation-policy

audit round 6: production readiness — 15 files, 17 findings fixed
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/amd-gpu-test.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  benchmarks/benchmark_configs.yaml
  benchmarks/framework/baseline_implementations.py
  benchmarks/framework/benchmark_runner.py
  benchmarks/run_comprehensive_benchmark.py
  demos/production_pipeline_demo.py
  docker/Dockerfile.development
  docs/backends/overview.md
  scripts/validation/cloud_orchestrator.py
  scripts/validation/cost_optimized_validation.py
  src/torchbridge/cli/doctor.py
Due: check-changelog-updated, check-documentation-policy

v0.5.22 final: cloud validation expansion, model modernization, doc consistency
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/reference/cloud-validation.md
  docs/reference/hardware-matrix.md
  examples/models/README.md
  examples/models/code/qwen3_coder_cross_backend.py
  examples/models/distributed/qwen3_fsdp_training.py
  examples/models/embedding/gte_qwen3_cross_backend.py
  examples/models/llm/deepseek_cross_backend.py
  examples/models/llm/gemma3_cross_backend.py
  examples/models/llm/moe_cross_backend.py
  examples/models/llm/qwen3_cross_backend.py
  examples/models/multimodal/qwen3_vl_cross_backend.py
  examples/models/speech/whisper_cross_backend.py
  examples/models/vision/dinov2_cross_backend.py
  examples/models/vision/sam3_cross_backend.py
  scripts/cloud_testing/validate_model_examples.sh
  scripts/validation/cost_optimized_validation.py
  scripts/validation/tpu_v5e_validation.sh
Due: check-documentation-policy

v0.5.22: test: cloud validation expansion, model modernization, doc consistency
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/reference/cloud-validation.md
  docs/reference/hardware-matrix.md
  examples/models/README.md
  examples/models/code/qwen3_coder_cross_backend.py
  examples/models/distributed/qwen3_fsdp_training.py
  examples/models/embedding/gte_qwen3_cross_backend.py
  examples/models/llm/deepseek_cross_backend.py
  examples/models/llm/gemma3_cross_backend.py
  examples/models/llm/moe_cross_backend.py
  examples/models/llm/qwen3_cross_backend.py
  examples/models/multimodal/qwen3_vl_cross_backend.py
  examples/models/speech/whisper_cross_backend.py
  examples/models/vision/dinov2_cross_backend.py
  examples/models/vision/sam3_cross_backend.py
  scripts/cloud_testing/validate_model_examples.sh
  scripts/validation/cost_optimized_validation.py
  scripts/validation/tpu_v5e_validation.sh
Due: check-documentation-policy

v0.5.23: feat: backend-aware quantization — auto-select optimal format per hardware
  CHANGELOG.md
  benchmarks/quantization_accuracy.py
  docker/Dockerfile.amd
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.serving
  docker/Dockerfile.trainium
  docs/conf.py
  docs/guides/quantization.md
  examples/models/llm/qwen3_quantized_cross_backend.py
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/cli/__init__.py
  src/torchbridge/cli/quantize.py
  src/torchbridge/cli/validate.py
  src/torchbridge/core/config.py
  src/torchbridge/models/llm/llm_optimizer.py
  src/torchbridge/precision/__init__.py
  src/torchbridge/precision/quantization/__init__.py
  src/torchbridge/precision/quantization/compatibility.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/precision/quantization/formats.py
  src/torchbridge/precision/quantization/torchao_integration.py
  tests/integration/test_quantization_pipeline.py
  tests/unit/test_quantization_cli.py
  tests/unit/test_quantization_compatibility.py
  tests/unit/test_quantization_engine.py
  tests/unit/test_quantization_formats.py
Due: check-changelog-updated, check-documentation-policy

v0.5.23: backend-aware quantization — auto-select optimal format per hardware
  CHANGELOG.md
  benchmarks/quantization_accuracy.py
  docker/Dockerfile.amd
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.serving
  docker/Dockerfile.trainium
  docs/conf.py
  docs/guides/quantization.md
  examples/models/llm/qwen3_quantized_cross_backend.py
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/cli/__init__.py
  src/torchbridge/cli/quantize.py
  src/torchbridge/cli/validate.py
  src/torchbridge/core/config.py
  src/torchbridge/models/llm/llm_optimizer.py
  src/torchbridge/precision/__init__.py
  src/torchbridge/precision/quantization/__init__.py
  src/torchbridge/precision/quantization/compatibility.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/precision/quantization/formats.py
  src/torchbridge/precision/quantization/torchao_integration.py
  tests/integration/test_quantization_pipeline.py
  tests/unit/test_quantization_cli.py
  tests/unit/test_quantization_compatibility.py
  tests/unit/test_quantization_engine.py
  tests/unit/test_quantization_formats.py
Due: check-changelog-updated, check-documentation-policy

v0.5.24: FlexAttention & kernel dispatch — backend-aware attention routing with GQA/MQA
  CHANGELOG.md
  docker/Dockerfile.amd
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.serving
  docker/Dockerfile.trainium
  docs/conf.py
  docs/guides/attention.md
  examples/models/llm/attention_cross_backend.py
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/attention/__init__.py
  src/torchbridge/attention/core/base.py
  src/torchbridge/attention/core/config.py
  src/torchbridge/attention/core/registry.py
  src/torchbridge/attention/dispatch/__init__.py
  src/torchbridge/attention/dispatch/benchmark_cache.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/attention/dispatch/kernel_types.py
  tests/integration/test_attention_dispatch_pipeline.py
  tests/unit/test_attention_dispatch_compatibility.py
  tests/unit/test_attention_dispatcher.py
  tests/unit/test_attention_kernel_types.py
  tests/unit/test_gqa_config.py
Due: check-changelog-updated, check-documentation-policy

v0.5.24: feat: FlexAttention and kernel dispatch — attention routing with GQA/MQA
  CHANGELOG.md
  docker/Dockerfile.amd
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.serving
  docker/Dockerfile.trainium
  docs/conf.py
  docs/guides/attention.md
  examples/models/llm/attention_cross_backend.py
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/attention/__init__.py
  src/torchbridge/attention/core/base.py
  src/torchbridge/attention/core/config.py
  src/torchbridge/attention/core/registry.py
  src/torchbridge/attention/dispatch/__init__.py
  src/torchbridge/attention/dispatch/benchmark_cache.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/attention/dispatch/kernel_types.py
  tests/integration/test_attention_dispatch_pipeline.py
  tests/unit/test_attention_dispatch_compatibility.py
  tests/unit/test_attention_dispatcher.py
  tests/unit/test_attention_kernel_types.py
  tests/unit/test_gqa_config.py
Due: check-changelog-updated, check-documentation-policy

version centralization: eliminate manual version drift across Docker, docs, and init
  CHANGELOG.md
  docker/Dockerfile.amd
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.serving
  docker/Dockerfile.trainium
  docs/conf.py
  scripts/ci/check_version_consistency.py
  scripts/ci/docker_build.sh
  src/torchbridge/__init__.py
Due: check-changelog-updated, check-documentation-policy

chore: version centralization — eliminate manual version drift
  CHANGELOG.md
  docker/Dockerfile.amd
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.serving
  docker/Dockerfile.trainium
  docs/conf.py
  scripts/ci/check_version_consistency.py
  scripts/ci/docker_build.sh
  src/torchbridge/__init__.py
Due: check-changelog-updated, check-documentation-policy

feat: add hardcoded version drift detection to version consistency checker
  scripts/ci/check_version_consistency.py
Due: none

Path conditions:
  check-changelog-updated: any of: ^(src/|tests/|benchmarks/|demos/)
  check-docs-updated: any of: ^src/kernel_pytorch/backends/
  sync-doc-versions: any of: ^src/kernel_pytorch/__init__\.py$
  check-documentation-policy: any of: \.(md|markdown|mdown)$
