Repository CloudlyIO/torchbridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-changelog-updated, check-docs-updated

.pre-commit-config.yaml:

# Pre-commit hooks for KernelPyTorch
# Ensures version updates and documentation updates are never missed

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(migrations|snapshots)/

  # Local custom hooks for version/doc validation
  - repo: local
    hooks:
      # Check version consistency across files
      - id: check-version-consistency
        name: Check version consistency
        entry: python3 scripts/check_version_consistency.py
        language: system
        pass_filenames: false
        always_run: true

      # Check CHANGELOG.md updated
      - id: check-changelog-updated
        name: Check CHANGELOG.md updated
        entry: python3 scripts/check_changelog_updated.py
        language: system
        files: ^(src/|tests/|benchmarks/|demos/)

      # Check documentation updated
      - id: check-docs-updated
        name: Check documentation updated
        entry: python3 scripts/check_docs_updated.py
        language: system
        files: ^src/kernel_pytorch/backends/

feat: Complete Phase 3 - Production Integration Pipeline (v0.2.6)
  CHANGELOG.md
  demos/auto_optimization_demo.py
  demos/performance_regression_demo.py
  demos/production_pipeline_demo.py
  docs/immediate_tasks.md
  docs/unified_roadmap.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/core/__init__.py
  src/kernel_pytorch/core/hardware_detector.py
  src/kernel_pytorch/core/management/unified_manager.py
  src/kernel_pytorch/core/performance_tracker.py
  tests/test_auto_optimization.py
  tests/test_performance_tracker.py
Due: check-changelog-updated

docs: Update next steps with Phase 4-7 roadmap based on codebase analysis
  docs/immediate_tasks.md
Due: none

chore: Technical debt cleanup and code consolidation (v0.2.7)
  CHANGELOG.md
  demos/compiler/basic.py
  pyproject.toml
  scripts/test_all_changes.py
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/cli/benchmark.py
  src/kernel_pytorch/cli/doctor.py
  src/kernel_pytorch/cli/optimize.py
  src/kernel_pytorch/testing_framework/__init__.py
  src/kernel_pytorch/testing_framework/ci_pipeline.py
  src/kernel_pytorch/testing_framework/hardware_simulator.py
  src/kernel_pytorch/testing_framework/integration_tests.py
  src/kernel_pytorch/testing_framework/performance_benchmarks.py
  src/kernel_pytorch/testing_framework/unified_validator.py
  src/kernel_pytorch/testing_framework/validation_tools.py
  src/kernel_pytorch/utils/compiler_optimization_assistant.py
  src/kernel_pytorch/utils/type_validator.py
  src/kernel_pytorch/utils/validation_framework.py
  src/kernel_pytorch/validation/__init__.py
  tests/cli/test_benchmark.py
  tests/cli/test_optimize.py
  tests/test_package_installation.py
  tests/test_testing_framework.py
Due: check-changelog-updated

feat: Custom CUDA Kernel System v0.3.0 - Phase 4A & 4B Complete
  BUILD.md
  CHANGELOG.md
  benchmarks/custom_kernel_benchmark.py
  demos/custom_kernel_demo.py
  pyproject.toml
  setup.py
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/nvidia/nvidia_backend.py
  src/kernel_pytorch/core/config.py
  src/kernel_pytorch/core/kernel_registry.py
  src/kernel_pytorch/cuda_kernels/flash_attention_v3.cu
  src/kernel_pytorch/cuda_kernels/fused_linear_activation.cu
  src/kernel_pytorch/hardware/gpu/custom_kernels.py
  src/kernel_pytorch/hardware/kernels/cuda_interface.cpp
  src/kernel_pytorch/validation/unified_validator.py
  tests/test_custom_kernels.py
  tests/test_kernel_integration.py
  tests/test_kernel_registry.py
Due: check-changelog-updated, check-docs-updated

chore: Add robust commit-msg hook to remove Claude Code footers
  .githooks/README.md
  .githooks/commit-msg
  scripts/install-hooks.sh
Due: none

feat: Complete v0.3.1 - NVIDIA Backend Hardening (90%+ Production-Ready)
  CHANGELOG.md
  docs/backends/nvidia.md
  docs/immediate_tasks.md
  docs/unified_roadmap.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/nvidia/cuda_utilities.py
  src/kernel_pytorch/backends/nvidia/flash_attention_integration.py
  src/kernel_pytorch/backends/nvidia/fp8_compiler.py
  src/kernel_pytorch/backends/nvidia/memory_manager.py
  src/kernel_pytorch/backends/nvidia/nvidia_backend.py
  src/kernel_pytorch/backends/nvidia/nvidia_exceptions.py
  src/kernel_pytorch/backends/nvidia/nvidia_optimizer.py
  tests/test_nvidia_backend.py
Due: check-changelog-updated, check-docs-updated

feat: Complete v0.3.2 - TPU Backend Hardening (Phase 4C-Pre Week 2)
  CHANGELOG.md
  DOCUMENTATION_SYNC_REPORT.md
  POST_PULL_VALIDATION_v0.3.1.md
  TESTING_v0.3.1.md
  TPU_BACKEND_ANALYSIS_v0.3.2.md
  VALIDATION_REPORT_v0.3.1.md
  demos/tpu_integration_demo.py
  docs/backends/tpu.md
  docs/immediate_tasks.md
  docs/unified_roadmap.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/tpu/cache_utils.py
  src/kernel_pytorch/backends/tpu/memory_manager.py
  src/kernel_pytorch/backends/tpu/tpu_backend.py
  src/kernel_pytorch/backends/tpu/tpu_exceptions.py
  src/kernel_pytorch/backends/tpu/tpu_optimizer.py
  src/kernel_pytorch/backends/tpu/xla_compiler.py
  src/kernel_pytorch/backends/tpu/xla_integration.py
  src/kernel_pytorch/core/config.py
  tests/test_tpu_backend.py
Due: check-changelog-updated, check-docs-updated

feat: Complete Phase 4C-Pre Week 3 - Integration Testing (v0.3.3)
  CHANGELOG.md
  benchmarks/backend_comparison_benchmark.py
  docs/guides/backend_selection.md
  docs/guides/troubleshooting.md
  docs/immediate_tasks.md
  docs/unified_roadmap.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  tests/test_backend_integration.py
Due: check-changelog-updated

chore(v0.3.3): Enforce strict documentation policy and cleanup repo
  .gitignore
  CLEANUP_SUMMARY_v0.2.0.md
  DOCUMENTATION_SYNC_REPORT.md
  POST_PULL_VALIDATION_v0.3.1.md
  TESTING_v0.3.1.md
  TPU_BACKEND_ANALYSIS_v0.3.2.md
  VALIDATION_REPORT_v0.3.1.md
  docs/backends/nvidia.md
  docs/backends/tpu.md
  docs/guides/backend_selection.md
  docs/guides/troubleshooting.md
  scripts/check_documentation_policy.py
Due: none

docs: Restore backend and guide documentation
  .gitignore
  docs/backends/nvidia.md
  docs/backends/tpu.md
  docs/guides/backend_selection.md
  docs/guides/troubleshooting.md
Due: none

docs(v0.3.3): Update version references and fix stale documentation
  BUILD.md
  docs/capabilities/architecture.md
  docs/capabilities/cli_reference.md
  docs/capabilities/hardware.md
  docs/guides/installation.md
  docs/guides/quickstart.md
  docs/guides/testing_guide.md
Due: none

docs(v0.3.3): Comprehensive documentation accuracy and cleanup
  .pre-commit-config.yaml
  benchmarks/README.md
  docs/capabilities/hardware_kernels.md
  docs/guides/cuda_setup.md
  docs/guides/quickstart.md
  scripts/sync_doc_versions.py
  tests/README.md
Due: check-changelog-updated

feat(v0.3.4): AMD ROCm Backend Implementation
  CHANGELOG.md
  demos/amd_backend_demo.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/amd/amd_backend.py
  src/kernel_pytorch/backends/amd/amd_exceptions.py
  src/kernel_pytorch/backends/amd/amd_optimizer.py
  src/kernel_pytorch/backends/amd/hip_utilities.py
  src/kernel_pytorch/backends/amd/memory_manager.py
  src/kernel_pytorch/backends/amd/rocm_compiler.py
  src/kernel_pytorch/core/config.py
  tests/test_amd_backend.py
Due: check-changelog-updated, check-docs-updated

feat(v0.3.5): AMD Testing & Integration
  CHANGELOG.md
  benchmarks/amd_integration_benchmark.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/amd/amd_backend.py
  tests/test_backend_integration.py
Due: check-changelog-updated, check-docs-updated

docs: Complete AMD Backend Documentation (v0.3.6)
  CHANGELOG.md
  README.md
  docs/backends/amd.md
  docs/guides/backend_selection.md
  docs/guides/troubleshooting.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
Due: check-changelog-updated

refactor: Comprehensive codebase review and shared utilities (v0.3.6)
  CHANGELOG.md
  benchmarks/framework/__init__.py
  benchmarks/framework/timing_utils.py
  demos/shared/__init__.py
  demos/shared/data.py
  demos/shared/models.py
  demos/shared/utils.py
  docs/capabilities/architecture.md
  docs/capabilities/cli_reference.md
  docs/capabilities/hardware.md
  docs/immediate_tasks.md
  docs/unified_roadmap.md
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/amd/amd_backend.py
  src/kernel_pytorch/backends/amd/amd_exceptions.py
  src/kernel_pytorch/backends/amd/amd_optimizer.py
  src/kernel_pytorch/backends/amd/hip_utilities.py
  src/kernel_pytorch/backends/amd/memory_manager.py
  src/kernel_pytorch/backends/amd/rocm_compiler.py
  src/kernel_pytorch/backends/nvidia/__init__.py
  src/kernel_pytorch/backends/tpu/__init__.py
  tests/conftest.py
Due: check-changelog-updated, check-docs-updated

feat: Add v0.3.7 cloud testing infrastructure (Phase 4D-Cloud)
  CHANGELOG.md
  docs/cloud_testing/aws_setup.md
  docs/cloud_testing/cost_optimization.md
  docs/cloud_testing/gcp_setup.md
  docs/cloud_testing/instance_selection.md
  docs/cloud_testing/result_sharing.md
  docs/cloud_testing/team_workflow.md
  docs/cloud_testing/troubleshooting.md
  docs/immediate_tasks.md
  docs/unified_roadmap.md
  monitoring/cloud_dashboards/__init__.py
  monitoring/cloud_dashboards/aws_cloudwatch_dashboard.json
  monitoring/cloud_dashboards/cross_platform_comparison.py
  monitoring/cloud_dashboards/gcp_monitoring_dashboard.json
  pyproject.toml
  src/kernel_pytorch/__init__.py
  tests/cloud_testing/__init__.py
  tests/cloud_testing/aws_test_harness.py
  tests/cloud_testing/benchmark_database.py
  tests/cloud_testing/gcp_test_harness.py
  tests/cloud_testing/result_uploader.py
Due: check-changelog-updated

fix: torch_xla 2.9.0 API compatibility (v0.3.7)
  src/kernel_pytorch/backends/tpu/memory_manager.py
  src/kernel_pytorch/backends/tpu/tpu_backend.py
  src/kernel_pytorch/backends/tpu/xla_compat.py
  src/kernel_pytorch/backends/tpu/xla_compiler.py
  src/kernel_pytorch/backends/tpu/xla_integration.py
  src/kernel_pytorch/core/config.py
  src/kernel_pytorch/core/hardware_detector.py
  src/kernel_pytorch/validation/unified_validator.py
Due: check-changelog-updated, check-docs-updated

fix: NVIDIA backend PyTorch version compatibility (v0.3.7)
  src/kernel_pytorch/backends/nvidia/cuda_utilities.py
  src/kernel_pytorch/backends/nvidia/nvidia_backend.py
Due: check-changelog-updated, check-docs-updated

docs: Complete real hardware validation reports (v0.3.7)
  CHANGELOG.md
  README.md
  docs/cloud_testing/VALIDATED_TESTING_GUIDE.md
  docs/cloud_testing/reports/AMD_TEST_REPORT.md
  docs/cloud_testing/reports/COMPREHENSIVE_HARDWARE_REPORT.md
  docs/cloud_testing/reports/NVIDIA_TEST_REPORT.md
  docs/cloud_testing/reports/TPU_TEST_REPORT.md
  docs/unified_roadmap.md
Due: none

docs: Add NEXT_STEPS.md with roadmap after v0.3.7
  docs/NEXT_STEPS.md
Due: none

feat: Add unified cloud testing scripts for all backends (v0.3.7)
  scripts/cloud_testing/README.md
  scripts/cloud_testing/amd_cloud/run_validation.sh
  scripts/cloud_testing/common/utils.sh
  scripts/cloud_testing/nvidia_aws/run_validation.sh
  scripts/cloud_testing/nvidia_gcp/run_validation.sh
  scripts/cloud_testing/tpu_gcp/run_validation.sh
Due: none

refactor: Phase 1 - Eliminate critical code duplication (v0.3.7)
  docs/REFACTORING_PLAN.md
  src/kernel_pytorch/backends/amd/rocm_compiler.py
  src/kernel_pytorch/backends/tpu/cache_utils.py
  src/kernel_pytorch/core/__init__.py
  src/kernel_pytorch/core/compilers/__init__.py
  src/kernel_pytorch/core/compilers/pygraph_optimizer.py
  src/kernel_pytorch/optimizations/next_gen/__init__.py
  src/kernel_pytorch/optimizations/next_gen/ultra_precision.py
  src/kernel_pytorch/precision/ultra_precision.py
  src/kernel_pytorch/utils/__init__.py
  src/kernel_pytorch/utils/cache.py
Due: check-changelog-updated, check-docs-updated

refactor: Phase 2 - Backend base classes and exception hierarchy (v0.3.7)
  src/kernel_pytorch/backends/__init__.py
  src/kernel_pytorch/backends/amd/amd_exceptions.py
  src/kernel_pytorch/backends/amd/memory_manager.py
  src/kernel_pytorch/backends/base_exceptions.py
  src/kernel_pytorch/backends/base_memory_manager.py
  src/kernel_pytorch/backends/nvidia/memory_manager.py
  src/kernel_pytorch/backends/nvidia/nvidia_exceptions.py
  src/kernel_pytorch/backends/tpu/memory_manager.py
  src/kernel_pytorch/backends/tpu/tpu_exceptions.py
Due: check-changelog-updated, check-docs-updated

chore: Move planning files to local directory
  docs/NEXT_STEPS.md
  docs/REFACTORING_PLAN.md
Due: none

docs: Update CHANGELOG and sync versions to 0.3.7
  CHANGELOG.md
  benchmarks/framework/__init__.py
  demos/shared/__init__.py
  setup.py
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/nvidia/__init__.py
  src/kernel_pytorch/backends/tpu/__init__.py
Due: check-changelog-updated, check-docs-updated

refactor: Phase 3 - Configuration consolidation (v0.3.7)
  CHANGELOG.md
  src/kernel_pytorch/attention/__init__.py
  src/kernel_pytorch/attention/core/__init__.py
  src/kernel_pytorch/attention/core/config.py
  src/kernel_pytorch/core/__init__.py
  src/kernel_pytorch/core/config.py
Due: check-changelog-updated

refactor: Phase 4 - Dead code cleanup (v0.3.7)
  .github-workflows-backup/README.md
  .github-workflows-backup/ci.yml
  .github-workflows-backup/docker.yml
  .github-workflows-backup/release.yml
  CHANGELOG.md
  src/kernel_pytorch/attention/fusion/neural_operator.py
  src/kernel_pytorch/backends/amd/amd_optimizer.py
  src/kernel_pytorch/core/__init__.py
  src/kernel_pytorch/core/performance_tracker.py
  src/kernel_pytorch/hardware/__init__.py
  src/kernel_pytorch/optimizations/__init__.py
  src/kernel_pytorch/precision/fp8_training_engine.py
  src/kernel_pytorch/precision/ultra_precision.py
  src/kernel_pytorch/utils/compiler_assistant.py
  src/kernel_pytorch/utils/profiling.py
Due: check-changelog-updated, check-docs-updated

refactor: Phase 5 - Structure improvements (v0.3.7)
  CHANGELOG.md
  setup.py
Due: none

feat: Add deployment module with ONNX/TorchScript export (v0.3.8)
  CHANGELOG.md
  benchmarks/framework/__init__.py
  demos/shared/__init__.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/nvidia/__init__.py
  src/kernel_pytorch/backends/tpu/__init__.py
  src/kernel_pytorch/deployment/__init__.py
  src/kernel_pytorch/deployment/onnx_exporter.py
  src/kernel_pytorch/deployment/optimization_metadata.py
  src/kernel_pytorch/deployment/torchscript_exporter.py
  tests/test_deployment.py
Due: check-changelog-updated, check-docs-updated

docs: Update documentation for v0.3.8 release
  API.md
  CHANGELOG.md
  README.md
  demos/experimental/ultra_precision.py
  demos/run_all_demos.py
  docs/immediate_tasks.md
  docs/unified_roadmap.md
Due: check-changelog-updated

feat: Add inference serving integration (v0.3.9)
  CHANGELOG.md
  benchmarks/framework/__init__.py
  demos/shared/__init__.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/nvidia/__init__.py
  src/kernel_pytorch/backends/tpu/__init__.py
  src/kernel_pytorch/deployment/__init__.py
  src/kernel_pytorch/deployment/serving/__init__.py
  src/kernel_pytorch/deployment/serving/fastapi_server.py
  src/kernel_pytorch/deployment/serving/torchserve_handler.py
  src/kernel_pytorch/deployment/serving/triton_config.py
  tests/test_serving.py
Due: check-changelog-updated, check-docs-updated

feat: Add monitoring & containerization infrastructure (v0.3.10)
  CHANGELOG.md
  benchmarks/framework/__init__.py
  demos/shared/__init__.py
  docker/Dockerfile.cpu
  docker/Dockerfile.nvidia
  docker/docker-compose.yml
  docker/kubernetes/deployment.yaml
  docker/kubernetes/hpa.yaml
  docker/kubernetes/servicemonitor.yaml
  docker/prometheus.yml
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/nvidia/__init__.py
  src/kernel_pytorch/backends/tpu/__init__.py
  src/kernel_pytorch/deployment/__init__.py
  src/kernel_pytorch/deployment/serving/__init__.py
  src/kernel_pytorch/monitoring/__init__.py
  src/kernel_pytorch/monitoring/grafana_dashboards.py
  src/kernel_pytorch/monitoring/health_monitor.py
  src/kernel_pytorch/monitoring/prometheus_exporter.py
  tests/test_monitoring.py
Due: check-changelog-updated, check-docs-updated

refactor: Technical debt cleanup and unified error handling (v0.3.11)
  CHANGELOG.md
  benchmarks/framework/__init__.py
  demos/shared/__init__.py
  docs/immediate_tasks.md
  docs/unified_roadmap.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/base_exceptions.py
  src/kernel_pytorch/backends/nvidia/__init__.py
  src/kernel_pytorch/backends/tpu/__init__.py
  src/kernel_pytorch/core/__init__.py
  src/kernel_pytorch/core/errors.py
  src/kernel_pytorch/core/management/__init__.py
  src/kernel_pytorch/core/management/base.py
  src/kernel_pytorch/core/management/hardware_manager.py
  src/kernel_pytorch/core/management/infrastructure_manager.py
  src/kernel_pytorch/core/management/optimization_manager.py
  src/kernel_pytorch/core/management/unified_manager.py
  src/kernel_pytorch/deployment/__init__.py
  src/kernel_pytorch/deployment/serving/__init__.py
  src/kernel_pytorch/monitoring/__init__.py
Due: check-changelog-updated, check-docs-updated

release: v0.4.0 - Production-Ready Multi-Backend Release
  CHANGELOG.md
  benchmarks/framework/__init__.py
  demos/shared/__init__.py
  docs/immediate_tasks.md
  docs/unified_roadmap.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/nvidia/__init__.py
  src/kernel_pytorch/backends/tpu/__init__.py
  src/kernel_pytorch/core/management/__init__.py
  src/kernel_pytorch/deployment/__init__.py
  src/kernel_pytorch/deployment/serving/__init__.py
  src/kernel_pytorch/monitoring/__init__.py
Due: check-changelog-updated, check-docs-updated

docs: Add v0.4.0 validation report and update README
  README.md
  docs/cloud_testing/reports/v0.4.0_validation_report.md
Due: none

fix: CUDA dtype mismatch in ultra_precision.py (v0.4.1)
  CHANGELOG.md
  benchmarks/framework/__init__.py
  demos/shared/__init__.py
  docs/cloud_testing/reports/v0.4.0_validation_report.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/nvidia/__init__.py
  src/kernel_pytorch/backends/tpu/__init__.py
  src/kernel_pytorch/core/management/__init__.py
  src/kernel_pytorch/deployment/__init__.py
  src/kernel_pytorch/deployment/serving/__init__.py
  src/kernel_pytorch/monitoring/__init__.py
  src/kernel_pytorch/precision/ultra_precision.py
Due: check-changelog-updated, check-docs-updated

docs: Add TPU v5e cloud validation results (v0.4.1)
  docs/cloud_testing/reports/v0.4.0_validation_report.md
Due: none

fix: torch_xla 2.9.0 API compatibility (v0.4.2)
  CHANGELOG.md
  benchmarks/framework/__init__.py
  demos/shared/__init__.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/nvidia/__init__.py
  src/kernel_pytorch/backends/tpu/__init__.py
  src/kernel_pytorch/backends/tpu/tpu_optimizer.py
  src/kernel_pytorch/backends/tpu/xla_compat.py
  src/kernel_pytorch/backends/tpu/xla_compiler.py
  src/kernel_pytorch/core/management/__init__.py
  src/kernel_pytorch/deployment/__init__.py
  src/kernel_pytorch/deployment/serving/__init__.py
  src/kernel_pytorch/monitoring/__init__.py
Due: check-changelog-updated, check-docs-updated

docs: Add AWS A10G cloud validation results (v0.4.2)
  docs/cloud_testing/reports/v0.4.0_validation_report.md
Due: none
