Repository CloudlyIO/torchbridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-changelog-updated, check-docs-updated, sync-doc-versions, check-documentation-policy

check-changelog-updated:
  name: Check CHANGELOG.md updated
  entry: python3 scripts/check_changelog_updated.py
  language: system

check-docs-updated:
  name: Check documentation updated
  entry: python3 scripts/check_docs_updated.py
  language: system

sync-doc-versions:
  name: Sync documentation versions
  entry: python3 scripts/sync_doc_versions.py
  language: system
  pass_filenames: false

check-documentation-policy:
  name: Check documentation policy
  entry: python3 scripts/check_documentation_policy.py
  language: system
  pass_filenames: false

feat: Add quantization quality validation framework (v0.4.21)
  benchmarks/quantization_accuracy.py
  docs/guides/quantization_guide.md
  tests/e2e/test_quantization_quality.py
Due: check-changelog-updated, check-documentation-policy

fix: Update quantization tests for real-world hardware compatibility (v0.4.21)
  tests/e2e/test_quantization_quality.py
Due: check-changelog-updated

docs: Mark v0.4.21 Quantization Quality Validation complete
  docs/planning/unified-roadmap.md
Due: check-documentation-policy

feat: Add LLM inference server for production serving (v0.4.22)
  docker/Dockerfile.serving
  examples/serving/README.md
  examples/serving/__init__.py
  examples/serving/run_llm_server.py
  src/kernel_pytorch/deployment/serving/__init__.py
  src/kernel_pytorch/deployment/serving/llm_server.py
  tests/e2e/test_llm_server.py
Due: check-changelog-updated, check-documentation-policy

fix: Update MockTokenizer to return object with input_ids attribute
  tests/e2e/test_llm_server.py
Due: check-changelog-updated

docs: Mark v0.4.22 Production Serving complete
  docs/planning/unified-roadmap.md
Due: check-documentation-policy

feat: Complete v0.4.23 placeholder implementations
  CHANGELOG.md
  benchmarks/attention_efficiency.py
  docs/guides/efficient_attention_guide.md
  docs/planning/unified-roadmap.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/attention/implementations/memory_efficient.py
  src/kernel_pytorch/attention/implementations/sparse.py
  src/kernel_pytorch/models/distributed/pipeline_parallel.py
  src/kernel_pytorch/models/vision/vit.py
  tests/e2e/test_placeholder_completions.py
Due: check-changelog-updated, sync-doc-versions, check-documentation-policy

feat: Add distributed training validation tests and guide (v0.4.24)
  CHANGELOG.md
  docs/guides/distributed_training.md
  examples/distributed/train_llama_7b_fsdp.py
  pyproject.toml
  pytest.ini
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/models/distributed/pipeline_parallel.py
  tests/distributed/__init__.py
  tests/distributed/test_distributed_llama.py
  tests/distributed/test_pipeline_parallel.py
Due: check-changelog-updated, sync-doc-versions, check-documentation-policy

feat: Add model export & deployment pipeline (v0.4.25)
  CHANGELOG.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/deployment/__init__.py
  src/kernel_pytorch/deployment/export_cli.py
  src/kernel_pytorch/deployment/production_validator.py
  src/kernel_pytorch/deployment/safetensors_exporter.py
  tests/e2e/test_export_pipeline.py
Due: check-changelog-updated, sync-doc-versions, check-documentation-policy

feat: Add comprehensive CI/CD infrastructure (v0.4.26)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/security.yml
  CHANGELOG.md
  codecov.yml
  pyproject.toml
  scripts/generate_benchmark_report.py
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/cli/__init__.py
  src/kernel_pytorch/deployment/__init__.py
Due: check-changelog-updated, sync-doc-versions, check-documentation-policy

feat: Add export/profile CLI and production checklist (v0.4.27)
  CHANGELOG.md
  docs/guides/production_checklist.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/cli/__init__.py
  src/kernel_pytorch/cli/export.py
  src/kernel_pytorch/cli/profile.py
  src/kernel_pytorch/deployment/__init__.py
  tests/cli/test_export.py
  tests/cli/test_profile.py
Due: check-changelog-updated, sync-doc-versions, check-documentation-policy

feat: Complete v0.4.x release train (v0.4.28-v0.4.30)
  CHANGELOG.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/cli/__init__.py
  src/kernel_pytorch/deployment/__init__.py
  tests/integration/test_full_pipeline.py
Due: check-changelog-updated, sync-doc-versions, check-documentation-policy

feat: Add v0.4.30 validation infrastructure scripts
  scripts/validation/cloud_orchestrator.py
  scripts/validation/report_generator.py
  scripts/validation/v0430_master_validator.py
Due: none

feat: Add production observability stack (v0.4.31-v0.4.34)
  src/kernel_pytorch/monitoring/__init__.py
  src/kernel_pytorch/monitoring/enhanced_health.py
  src/kernel_pytorch/monitoring/grafana_alerts.py
  src/kernel_pytorch/monitoring/slo_framework.py
  src/kernel_pytorch/monitoring/structured_logging.py
  tests/features/test_enhanced_health.py
  tests/features/test_grafana_alerts.py
  tests/features/test_slo_framework.py
  tests/features/test_structured_logging.py
Due: check-changelog-updated

fix: Improve test robustness and environment handling
  tests/e2e/conftest.py
  tests/e2e/test_quantization_quality.py
  tests/e2e/test_real_bert.py
  tests/e2e/test_real_resnet.py
  tests/integration/test_vision_model_integration.py
Due: check-changelog-updated

docs: Add quickstart guide and cost-optimized cloud validation
  docs/QUICKSTART_REAL_MODELS.md
  scripts/validation/cost_optimized_validation.py
Due: check-documentation-policy

fix: repair broken imports in scripts, benchmarks, and demos after rebrand
  benchmarks/framework/baseline_implementations.py
  demos/run_all_demos.py
  scripts/test_all_changes.py
  scripts/validate_gpu_setup.py
Due: check-changelog-updated

chore: gitignore checkpoints, reports, benchmark_results; purge caches
  .gitignore
Due: none

feat: add cloud GPU validation (5/5 pass on AWS A10G and GCP L4)
  .gitignore
  README.md
  docs/reference/cloud-validation.md
  examples/usecase1_export_pipeline.py
  examples/usecase2_llm_optimization.py
  examples/usecase3_cicd_validation.py
  examples/usecase4_backend_agnostic_training.py
  examples/usecase5_cross_backend_validation.py
  scripts/cloud_validation.sh
  src/torchbridge/distributed_scale/communication_profiling.py
  src/torchbridge/distributed_scale/hardware_discovery.py
  src/torchbridge/hardware/abstraction/vendor_adapters.py
  src/torchbridge/utils/profiling.py
  src/torchbridge/validation/unified_validator.py
Due: check-changelog-updated, check-documentation-policy

release: TorchBridge v0.4.41 — cloud-validated HAL release
  CHANGELOG.md
  README.md
  docs/reference/cloud-validation.md
  pyproject.toml
  scripts/cloud_validation.sh
  src/torchbridge/__init__.py
Due: check-changelog-updated, check-documentation-policy

chore: sync all sub-package versions to 0.4.41, update pyproject keywords
  pyproject.toml
  src/torchbridge/backends/amd/__init__.py
  src/torchbridge/backends/intel/__init__.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/tpu/__init__.py
  src/torchbridge/core/management/__init__.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/serving/__init__.py
  src/torchbridge/models/multimodal/__init__.py
  src/torchbridge/models/vision/__init__.py
  src/torchbridge/monitoring/__init__.py
Due: check-changelog-updated

feat: TorchBridge v0.4.42 — CLI enhancements + CI/CD integration
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/guides/cli.md
  docs/reference/cloud-validation.md
  pyproject.toml
  scripts/cloud_validation.sh
  src/torchbridge/__init__.py
  src/torchbridge/backends/amd/__init__.py
  src/torchbridge/backends/intel/__init__.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/tpu/__init__.py
  src/torchbridge/cli/__init__.py
  src/torchbridge/cli/benchmark.py
  src/torchbridge/cli/doctor.py
  src/torchbridge/cli/init.py
  src/torchbridge/cli/validate.py
  src/torchbridge/core/management/__init__.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/serving/__init__.py
  src/torchbridge/models/multimodal/__init__.py
  src/torchbridge/models/vision/__init__.py
  src/torchbridge/monitoring/__init__.py
  templates/README.md
  templates/github-actions/torchbridge-validate.yml
  tests/cli/test_benchmark.py
  tests/cli/test_cli_main.py
  tests/cli/test_doctor.py
  tests/cli/test_init.py
  tests/cli/test_validate.py
Due: check-changelog-updated, check-documentation-policy

fix: use auto-detected python in Makefile for cross-platform compat
  Makefile
Due: none

feat: add AMD/Intel Dockerfiles and scheduled GPU CI workflows
  .github/workflows/amd-gpu-test.yml
  .github/workflows/docker.yml
  .github/workflows/intel-gpu-test.yml
  CHANGELOG.md
  Makefile
  docker/Dockerfile.amd
  docker/Dockerfile.intel
  docker/docker-compose.yml
Due: check-documentation-policy

fix: resolve ONNX export failures and mock model memory hang
  .gitignore
  src/torchbridge/cli/export.py
  src/torchbridge/deployment/onnx_exporter.py
  src/torchbridge/models/distributed/large_model_optimizer.py
Due: check-changelog-updated

fix: AMD MI300X ROCm backend — 1611 tests passing, 0 failures
  src/torchbridge/advanced_memory/advanced_checkpointing.py
  src/torchbridge/backends/amd/hip_utilities.py
  src/torchbridge/backends/base_optimizer.py
  src/torchbridge/core/hardware_detector.py
  src/torchbridge/core/management/unified_manager.py
  src/torchbridge/distributed_scale/hardware_discovery.py
  src/torchbridge/hardware/abstraction/vendor_adapters.py
  src/torchbridge/hardware/gpu/custom_kernels.py
  src/torchbridge/optimizations/patterns/dynamic_shapes.py
  tests/backends/test_amd_backend.py
  tests/backends/test_hardware_abstraction.py
  tests/e2e/test_cross_backend_bert.py
  tests/e2e/test_cross_backend_gpt2.py
  tests/e2e/test_quantization_quality.py
  tests/e2e/test_real_resnet.py
  tests/features/test_advanced_memory.py
  tests/features/test_auto_optimization.py
  tests/features/test_distributed_scale.py
  tests/features/test_flex_attention.py
Due: check-changelog-updated

docs: add SECURITY.md and CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: check-documentation-policy

fix: update all GitHub URLs to CloudlyIO/torchbridge
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docker/Dockerfile.amd
  docker/Dockerfile.development
  docker/Dockerfile.intel
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  pyproject.toml
  scripts/cloud_testing/README.md
  scripts/validation/run_cloud_validation.py
  src/torchbridge/cli/init.py
Due: check-changelog-updated, check-documentation-policy

docs: rewrite README positioning, add SDPA blog post
  README.md
  docs/blog/sdpa-divergence-rocm.md
Due: check-documentation-policy

chore: bump version 0.4.42 → 0.5.0
  README.md
  docker/Dockerfile.amd
  docker/Dockerfile.intel
  docs/reference/cloud-validation.md
  pyproject.toml
  scripts/cloud_validation.sh
  src/torchbridge/__init__.py
  src/torchbridge/backends/amd/__init__.py
  src/torchbridge/backends/intel/__init__.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/tpu/__init__.py
  src/torchbridge/cli/__init__.py
  src/torchbridge/cli/init.py
  src/torchbridge/core/management/__init__.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/serving/__init__.py
  src/torchbridge/models/multimodal/__init__.py
  src/torchbridge/models/vision/__init__.py
  src/torchbridge/monitoring/__init__.py
  templates/README.md
Due: check-changelog-updated, check-documentation-policy

feat: add tb-migrate CLI for CUDA-to-HAL code migration
  pyproject.toml
  src/torchbridge/cli/__init__.py
  src/torchbridge/cli/migrate.py
  tests/cli/test_cli_main.py
  tests/cli/test_migrate.py
Due: check-changelog-updated

feat: add tb-migrate CLI for cross-backend code migration
  pyproject.toml
  src/torchbridge/cli/__init__.py
  src/torchbridge/cli/migrate.py
  tests/cli/test_cli_main.py
  tests/cli/test_migrate.py
Due: check-changelog-updated

feat: add cross-backend benchmark report script
  scripts/cross_backend_benchmark_report.py
Due: none

Path conditions:
  check-changelog-updated: any of: ^(src/|tests/|benchmarks/|demos/)
  check-docs-updated: any of: ^src/kernel_pytorch/backends/
  sync-doc-versions: any of: ^src/kernel_pytorch/__init__\.py$
  check-documentation-policy: any of: \.(md|markdown|mdown)$
