Repository CloudlyIO/torchbridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-changelog-updated, check-docs-updated

check-changelog-updated:
  name: Check CHANGELOG.md updated
  entry: python3 scripts/check_changelog_updated.py
  language: system

check-docs-updated:
  name: Check documentation updated
  entry: python3 scripts/check_docs_updated.py
  language: system

docs: Update recommendations to stay on v0.4.x series
  docs/cloud_testing/reports/v0.4.0_validation_report.md
Due: none

refactor: Codebase cleanup and documentation sync (v0.4.3)
  CHANGELOG.md
  README.md
  benchmarks/analysis/__init__.py
  benchmarks/cli_performance_benchmark.py
  benchmarks/dynamic_shapes_benchmark.py
  benchmarks/framework/benchmark_runner.py
  benchmarks/next_gen/__init__.py
  benchmarks/regression/baseline_manager.py
  benchmarks/regression/threshold_manager.py
  benchmarks/regression_benchmark.py
  benchmarks/unified_runner.py
  demos/amd_backend_demo.py
  demos/attention/__init__.py
  demos/auto_optimization_demo.py
  demos/compiler/__init__.py
  demos/custom_kernel_demo.py
  demos/experimental/__init__.py
  demos/hardware/__init__.py
  demos/memory/__init__.py
  demos/nvidia_integration_demo.py
  demos/performance_regression_demo.py
  demos/precision/__init__.py
  demos/production/__init__.py
  demos/production_pipeline_demo.py
  demos/shared/utils.py
  docs/backends/nvidia.md
  docs/guides/deployment_tutorial.md
  docs/guides/installation.md
  docs/guides/quickstart.md
  pyproject.toml
  setup.py
  src/kernel_pytorch/__init__.py
Due: check-changelog-updated

docs: Industry landscape analysis and v0.5.0 roadmap planning
  CONTRIBUTING.md
  README.md
  docs/INDUSTRY_LANDSCAPE_2026.md
  docs/README.md
  docs/capabilities/moe_optimization.md
  docs/guides/installation.md
  docs/guides/quickstart.md
  docs/immediate_tasks.md
  docs/unified_roadmap.md
Due: none

feat: FlexAttention integration with PyTorch 2.5+ native API (v0.4.4)
  CHANGELOG.md
  README.md
  demos/flex_attention_demo.py
  pyproject.toml
  setup.py
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/attention/__init__.py
  src/kernel_pytorch/attention/implementations/__init__.py
  src/kernel_pytorch/attention/implementations/flex_attention.py
  tests/test_flex_attention.py
Due: check-changelog-updated

feat: Full FP8 implementation with native PyTorch types (v0.4.5)
  CHANGELOG.md
  README.md
  demos/fp8_native_demo.py
  pyproject.toml
  setup.py
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/precision/__init__.py
  src/kernel_pytorch/precision/fp8_native.py
  src/kernel_pytorch/precision/fp8_optimizations.py
  tests/test_fp8_native.py
Due: check-changelog-updated

feat: Add Mixture of Experts (MoE) support (v0.4.6)
  CHANGELOG.md
  demos/moe_demo.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/mixture_of_experts/routing.py
  tests/test_moe.py
Due: check-changelog-updated

feat: Add v0.4.6 cloud testing infrastructure
  docs/cloud_testing_v046.md
  scripts/cloud_testing/v046_master_test.sh
  tests/cloud_testing/aws_test_harness.py
  tests/cloud_testing/v046_comprehensive_test.py
Due: check-changelog-updated

fix: FP8 training fixes and v0.4.6 local validation
  docs/cloud_testing/reports/v0.4.6_validation_report.md
  src/kernel_pytorch/precision/fp8_optimizations.py
  src/kernel_pytorch/precision/fp8_training_engine.py
  tests/test_fp8_training.py
Due: check-changelog-updated

fix: MoE and FP8 device compatibility for GPU execution (v0.4.6)
  src/kernel_pytorch/mixture_of_experts/expert_networks.py
  src/kernel_pytorch/mixture_of_experts/moe_layers.py
  src/kernel_pytorch/mixture_of_experts/routing.py
  tests/test_fp8_native.py
  tests/test_fp8_training.py
Due: check-changelog-updated

feat: Add Intel XPU Backend (v0.4.7)
  CHANGELOG.md
  demos/intel_xpu_demo.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/intel/__init__.py
  src/kernel_pytorch/backends/intel/intel_backend.py
  src/kernel_pytorch/backends/intel/intel_exceptions.py
  src/kernel_pytorch/backends/intel/intel_optimizer.py
  src/kernel_pytorch/backends/intel/memory_manager.py
  src/kernel_pytorch/backends/intel/xpu_utilities.py
  src/kernel_pytorch/core/config.py
  tests/test_intel_backend.py
Due: check-changelog-updated, check-docs-updated

feat: Backend Unification (v0.4.8)
  CHANGELOG.md
  benchmarks/backend_comparison.py
  demos/unified_backend_demo.py
  docs/backends/unification.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/__init__.py
  src/kernel_pytorch/backends/amd/amd_backend.py
  src/kernel_pytorch/backends/backend_factory.py
  src/kernel_pytorch/backends/base_backend.py
  src/kernel_pytorch/backends/base_optimizer.py
  src/kernel_pytorch/backends/intel/intel_backend.py
  src/kernel_pytorch/backends/nvidia/nvidia_backend.py
  src/kernel_pytorch/backends/nvidia/nvidia_optimizer.py
  src/kernel_pytorch/backends/tpu/tpu_backend.py
  tests/test_backend_integration.py
  tests/test_backend_unification.py
  tests/test_intel_backend.py
  tests/test_nvidia_backend.py
Due: check-changelog-updated, check-docs-updated

feat: Model Integration Series (v0.4.11-v0.4.12)
  CHANGELOG.md
  benchmarks/models/small_model_benchmark.py
  docs/guides/small_model_guide.md
  docs/unified_roadmap.md
  examples/models/medium/llama_optimization.py
  examples/models/small/bert_optimization.py
  examples/models/small/gpt2_optimization.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/models/__init__.py
  src/kernel_pytorch/models/llm/__init__.py
  src/kernel_pytorch/models/llm/kv_cache.py
  src/kernel_pytorch/models/llm/llm_optimizer.py
  src/kernel_pytorch/models/text/__init__.py
  src/kernel_pytorch/models/text/text_model_optimizer.py
  tests/test_llm_integration.py
  tests/test_small_model_integration.py
Due: check-changelog-updated

docs: Update roadmap status for v0.4.11 and v0.4.12 releases
  docs/unified_roadmap.md
Due: none

feat: AMD Backend Completion (v0.4.9) [retroactive]
  .gitignore
  benchmarks/amd_optimization_benchmark.py
  docs/backends/amd.md
  scripts/cloud_testing/amd_cloud/run_validation.sh
  src/kernel_pytorch/backends/amd/amd_backend.py
  src/kernel_pytorch/backends/amd/amd_optimizer.py
  src/kernel_pytorch/backends/amd/memory_manager.py
  src/kernel_pytorch/backends/amd/rocm_compiler.py
  tests/test_amd_backend.py
Due: check-changelog-updated, check-docs-updated

docs: Intel XPU Documentation + Cloud Validation (v0.4.10) [retroactive]
  benchmarks/intel_benchmark.py
  docs/backends/intel.md
  docs/cloud_testing/reports/intel_devcloud_v047/README.md
  docs/cloud_testing/reports/intel_devcloud_v047/SUMMARY.md
  docs/cloud_testing/reports/intel_devcloud_v047/results.json
  scripts/cloud_testing/intel_devcloud/run_validation.sh
  src/kernel_pytorch/backends/intel/intel_backend.py
Due: check-changelog-updated, check-docs-updated

docs: Add v0.4.6 cloud validation reports (historical)
  docs/cloud_testing/reports/aws_a10g_v046/SUMMARY.md
  docs/cloud_testing/reports/aws_a10g_v046/fp8_demo.txt
  docs/cloud_testing/reports/aws_a10g_v046/fp8_tests.txt
  docs/cloud_testing/reports/aws_a10g_v046/gpu_info.txt
  docs/cloud_testing/reports/aws_a10g_v046/moe_benchmark.txt
  docs/cloud_testing/reports/aws_a10g_v046/moe_demo.txt
  docs/cloud_testing/reports/aws_a10g_v046/moe_tests.txt
  docs/cloud_testing/reports/aws_a10g_v046/nvidia_backend.txt
  docs/cloud_testing/reports/aws_amd_v046/SUMMARY.md
  docs/cloud_testing/reports/gcp_l4_v046/SUMMARY.md
  docs/cloud_testing/reports/gcp_l4_v046/flex_attention_demo.txt
  docs/cloud_testing/reports/gcp_l4_v046/fp8_demo.txt
  docs/cloud_testing/reports/gcp_l4_v046/fp8_tests.txt
  docs/cloud_testing/reports/gcp_l4_v046/moe_benchmark.txt
  docs/cloud_testing/reports/gcp_l4_v046/moe_demo.txt
  docs/cloud_testing/reports/gcp_l4_v046/moe_tests.txt
  docs/cloud_testing/reports/gcp_l4_v046/nvidia_backend.txt
  docs/cloud_testing/reports/gcp_tpu_v046/SUMMARY.md
  docs/cloud_testing/reports/gcp_tpu_v046/tpu_config_tests.txt
  docs/cloud_testing/reports/gcp_tpu_v046/tpu_tests.txt
  docs/cloud_testing/reports/v0.4.6_cloud_summary.md
  docs/cloud_testing/scripts/intel_devcloud_test.py
Due: none

docs: Clarify retroactive commit dates for v0.4.9 and v0.4.10
  CHANGELOG.md
Due: none

feat: Large Model Integration - Distributed Training (v0.4.13)
  CHANGELOG.md
  docs/unified_roadmap.md
  examples/models/large/llama_70b_distributed.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/models/distributed/README.md
  src/kernel_pytorch/models/distributed/__init__.py
  src/kernel_pytorch/models/distributed/large_model_optimizer.py
  src/kernel_pytorch/models/distributed/model_sharding.py
  src/kernel_pytorch/models/distributed/pipeline_parallel.py
  src/kernel_pytorch/models/distributed/tensor_parallel.py
  tests/test_distributed_integration.py
Due: check-changelog-updated

feat: Vision Model Integration (v0.4.14)
  CHANGELOG.md
  docs/guides/vision_model_guide.md
  docs/unified_roadmap.md
  examples/models/vision/resnet_optimization.py
  examples/models/vision/stable_diffusion_optimization.py
  examples/models/vision/vit_optimization.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/models/vision/README.md
  src/kernel_pytorch/models/vision/__init__.py
  src/kernel_pytorch/models/vision/base.py
  src/kernel_pytorch/models/vision/diffusion.py
  src/kernel_pytorch/models/vision/resnet.py
  src/kernel_pytorch/models/vision/vit.py
  tests/test_vision_model_integration.py
Due: check-changelog-updated

feat: Multi-modal Model Integration (v0.4.15)
  CHANGELOG.md
  docs/unified_roadmap.md
  examples/models/multimodal/clip_optimization.py
  examples/models/multimodal/llava_optimization.py
  examples/models/multimodal/whisper_optimization.py
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/models/multimodal/__init__.py
  src/kernel_pytorch/models/multimodal/base.py
  src/kernel_pytorch/models/multimodal/clip.py
  src/kernel_pytorch/models/multimodal/llava.py
  src/kernel_pytorch/models/multimodal/whisper.py
  tests/test_multimodal_integration.py
Due: check-changelog-updated

feat: Repository Modernization & CI/CD (v0.4.16)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  setup.py
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/py.typed
  tests/cloud_testing/__init__.py
  tests/conftest.py
Due: check-changelog-updated

fix: Resolve CI test failures (v0.4.16)
  src/kernel_pytorch/backends/nvidia/nvidia_backend.py
  src/kernel_pytorch/models/__init__.py
  src/kernel_pytorch/models/vision/vit.py
  tests/integration/test_vision_model_integration.py
Due: check-changelog-updated, check-docs-updated

refactor: Remove orphaned cuda_kernels directory and fix import paths
  src/kernel_pytorch/cuda_kernels/cuda_interface.cpp
  src/kernel_pytorch/cuda_kernels/flash_attention_v3.cu
  src/kernel_pytorch/cuda_kernels/fused_linear_activation.cu
  src/kernel_pytorch/cuda_kernels/fused_ops.cu
  src/kernel_pytorch/hardware/__init__.py
  src/kernel_pytorch/hardware/abstraction/vendor_adapters.py
Due: check-changelog-updated

refactor: Consolidate FlashAttention implementations (v0.4.17)
  CHANGELOG.md
  pyproject.toml
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/attention/core/__init__.py
  src/kernel_pytorch/attention/core/attention_ops.py
  src/kernel_pytorch/attention/implementations/flash_attention.py
  src/kernel_pytorch/backends/nvidia/flash_attention_integration.py
  src/kernel_pytorch/hardware/gpu/custom_kernels.py
  src/kernel_pytorch/precision/fp8_training_engine.py
Due: check-changelog-updated, check-docs-updated

docs: Add quality standards and fix version consistency (v0.4.18)
  CHANGELOG.md
  QUALITY_STANDARDS.md
  README.md
  pyproject.toml
  scripts/check_version_consistency.py
  src/kernel_pytorch/__init__.py
  src/kernel_pytorch/backends/amd/__init__.py
  src/kernel_pytorch/backends/intel/__init__.py
  src/kernel_pytorch/backends/nvidia/__init__.py
  src/kernel_pytorch/backends/tpu/__init__.py
  src/kernel_pytorch/cli/__init__.py
Due: check-changelog-updated, check-docs-updated

refactor: Resolve TODO/FIXME comments with clear disposition (v0.4.18)
  src/kernel_pytorch/advanced_memory/deep_optimizer_states.py
  src/kernel_pytorch/core/__init__.py
  src/kernel_pytorch/hardware/__init__.py
  src/kernel_pytorch/hardware/abstraction/vendor_adapters.py
  src/kernel_pytorch/hardware/gpu/custom_kernels.py
  src/kernel_pytorch/hardware/gpu/profiling_tools.py
  src/kernel_pytorch/optimizations/patterns/compute_intensity.py
Due: check-changelog-updated

refactor: Remove v0.5.0 references, stay on 0.4.x train (v0.4.18)
  docs/backends/nvidia.md
  docs/planning/README.md
  docs/planning/future-features/moe-optimization.md
  src/kernel_pytorch/backends/nvidia/fp8_compiler.py
  tests/backends/test_nvidia_backend.py
Due: check-changelog-updated, check-docs-updated

docs: Update roadmap for v0.4.19 completion and v0.5.0 planning
  docs/planning/unified-roadmap.md
Due: none

docs: Update roadmap based on extensive codebase research (v0.4.20-v0.4.25)
  docs/planning/unified-roadmap.md
Due: none

feat: Add real model E2E tests (v0.4.20 Phase 1)
  CHANGELOG.md
  pyproject.toml
  pytest.ini
  tests/e2e/conftest.py
  tests/e2e/test_real_bert.py
  tests/e2e/test_real_clip.py
  tests/e2e/test_real_gpt2.py
  tests/e2e/test_real_resnet.py
Due: check-changelog-updated

feat: Add cross-backend validation tests (v0.4.20 Phase 2)
  CHANGELOG.md
  tests/e2e/test_cross_backend_bert.py
  tests/e2e/test_cross_backend_gpt2.py
Due: check-changelog-updated

fix: Update demos for unified backend interface compatibility
  demos/intel_xpu_demo.py
  demos/nvidia_integration_demo.py
Due: check-changelog-updated

fix: Resolve e2e test device and dtype handling issues
  src/kernel_pytorch/models/text/__init__.py
  tests/e2e/conftest.py
  tests/e2e/test_cross_backend_bert.py
  tests/e2e/test_cross_backend_gpt2.py
  tests/e2e/test_real_bert.py
  tests/e2e/test_real_gpt2.py
  tests/e2e/test_real_resnet.py
Due: check-changelog-updated

fix: Relax e2e test tolerances for mixed precision realism (v0.4.20 complete)
  docs/planning/unified-roadmap.md
  tests/e2e/conftest.py
  tests/e2e/test_real_bert.py
  tests/e2e/test_real_gpt2.py
  tests/e2e/test_real_resnet.py
Due: check-changelog-updated

fix: Resolve CPU speedup test fixture contamination and relaxed threshold
  tests/e2e/test_real_bert.py
Due: check-changelog-updated

fix: Achieve 100% e2e test pass rate on NVIDIA hardware
  tests/e2e/test_cross_backend_bert.py
  tests/e2e/test_cross_backend_gpt2.py
  tests/e2e/test_real_bert.py
  tests/e2e/test_real_gpt2.py
Due: check-changelog-updated

fix: TPU backend mixed precision and prepare_data for real hardware
  src/kernel_pytorch/backends/tpu/tpu_backend.py
  tests/e2e/test_cross_backend_bert.py
  tests/e2e/test_cross_backend_gpt2.py
Due: check-changelog-updated, check-docs-updated

Path conditions:
  check-changelog-updated: any of: ^(src/|tests/|benchmarks/|demos/)
  check-docs-updated: any of: ^src/kernel_pytorch/backends/
