Repository CloudlyIO/torchbridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-changelog-updated, check-docs-updated, sync-doc-versions, check-documentation-policy

check-changelog-updated:
  name: Check CHANGELOG.md updated
  entry: python3 scripts/check_changelog_updated.py
  language: system

check-docs-updated:
  name: Check documentation updated
  entry: python3 scripts/check_docs_updated.py
  language: system

sync-doc-versions:
  name: Sync documentation versions
  entry: python3 scripts/sync_doc_versions.py
  language: system
  pass_filenames: false

check-documentation-policy:
  name: Check documentation policy
  entry: python3 scripts/check_documentation_policy.py
  language: system
  pass_filenames: false

chore: update official domain to torchbridge.ml — email, homepage, docs URL, security contact
  .github/ISSUE_TEMPLATE/config.yml
  SECURITY.md
  pyproject.toml
Due: check-documentation-policy

chore: bump version to v0.5.93 — community launch metadata (domain, email, PyPI consistency)
  CHANGELOG.md
  pyproject.toml
Due: check-documentation-policy

docs: consolidate guides (16→10), add ROADMAP.md, remove local/ from tracking
  docs/ROADMAP.md
  docs/guides/adapter-training.md
  docs/guides/attention.md
  docs/guides/backend-selection.md
  docs/guides/checkpointing.md
  docs/guides/cli.md
  docs/guides/data-handling.md
  docs/guides/deployment.md
  docs/guides/distributed-config.md
  docs/guides/distributed-training.md
  docs/guides/hardware-setup.md
  docs/guides/inference-optimization.md
  docs/guides/kv-cache.md
  docs/guides/model-optimization.md
  docs/guides/performance-tuning.md
  docs/guides/quantization.md
  docs/guides/speculative-decoding.md
  docs/index.rst
  local/scripts/validation/report_generator.py
  local/scripts/validation/run_full_cloud_validation.sh
Due: check-documentation-policy

fix: stale references and test count in README and docs
  README.md
  docs/backends/amd.md
  docs/backends/nvidia.md
  docs/backends/overview.md
  docs/backends/tpu.md
  docs/backends/trainium.md
  docs/getting_started/installation.md
  docs/reference/hardware-matrix.md
Due: check-documentation-policy

fix: CI hardening — benchmark path, flaky test, security workflow (v0.5.95)
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  CHANGELOG.md
  pyproject.toml
  scripts/ci/check_workflow_paths.py
  scripts/ci/pytest_capture.sh
  tests/unit/test_claim_benchmarks.py
Due: check-changelog-updated, check-documentation-policy

fix: CI hardening — benchmark path, flaky test, security workflow (v0.5.95) (#65)
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  CHANGELOG.md
  pyproject.toml
  scripts/ci/check_workflow_paths.py
  scripts/ci/pytest_capture.sh
  tests/unit/test_claim_benchmarks.py
Due: check-changelog-updated, check-documentation-policy

docs: strict contributor workflow — journey-staged templates + CONTRIBUTING guide
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/matrix_correction.yml
  .github/ISSUE_TEMPLATE/tolerance_measurement.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: check-documentation-policy

fix: trufflehog --no-entropy to suppress URL false positives in secret scan
  .github/workflows/security.yml
Due: none

docs: strict contributor workflow — journey-staged templates + CONTRIBUTING guide
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/matrix_correction.yml
  .github/ISSUE_TEMPLATE/tolerance_measurement.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/security.yml
  CONTRIBUTING.md
Due: check-documentation-policy

docs: polish all 6 contributor journey stages to 9+
  CONTRIBUTING.md
  README.md
  docs/getting_started/installation.md
  docs/getting_started/quickstart.md
  examples/validate_quickstart.py
Due: check-documentation-policy

chore: add MAINTAINERS.md and CODEOWNERS for team maintainers
  .github/CODEOWNERS
  MAINTAINERS.md
Due: check-documentation-policy

fix(attention): mark AMD RDNA2 as unsupported in standard ROCm PyTorch builds
  src/torchbridge/attention/dispatch/compatibility.py
  tests/unit/test_attention_dispatch_compatibility.py
Due: check-changelog-updated

style: format test file with ruff
  tests/unit/test_attention_dispatch_compatibility.py
Due: check-changelog-updated

fix: add AMD RDNA1 (gfx1010/1011/1012) to all compatibility matrices
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/cli/doctor.py
  src/torchbridge/core/config.py
  src/torchbridge/inference/speculative/compatibility.py
  src/torchbridge/models/kv/cache_compatibility.py
  src/torchbridge/precision/compatibility.py
  tests/backends/test_rdna1_detection.py
  tests/unit/test_adapter_compatibility.py
  tests/unit/test_attention_dispatch_compatibility.py
  tests/unit/test_kv_cache_compatibility.py
  tests/unit/test_quantization_compatibility.py
  tests/unit/test_speculation_compatibility.py
Due: check-changelog-updated

fix: sort imports in test_rdna1_detection.py (ruff I001)
  tests/backends/test_rdna1_detection.py
Due: check-changelog-updated

style: ruff format amd_backend.py and doctor.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/cli/doctor.py
Due: check-changelog-updated

fix: AMD RDNA1 (gfx1010/1011/1012) missing from all compatibility matrices
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/cli/doctor.py
  src/torchbridge/core/config.py
  src/torchbridge/inference/speculative/compatibility.py
  src/torchbridge/models/kv/cache_compatibility.py
  src/torchbridge/precision/compatibility.py
  tests/backends/test_rdna1_detection.py
  tests/unit/test_adapter_compatibility.py
  tests/unit/test_attention_dispatch_compatibility.py
  tests/unit/test_kv_cache_compatibility.py
  tests/unit/test_quantization_compatibility.py
  tests/unit/test_speculation_compatibility.py
Due: check-changelog-updated

fix(tolerance-db): update cpu/float32 decoder-small atol to measured 2e-6
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_tolerance_db.py
Due: check-changelog-updated

chore: add .mailmap to canonicalize Shah Rahman identity
  .mailmap
Due: none

chore: add identity guard — block shahrahman-fb from commits and pushes
  .githooks/pre-push
  .github/workflows/ci.yml
Due: none

fix: ignore CVE-2026-3219 in pip-audit until pip ships a patch
  .github/workflows/security.yml
Due: none

Path conditions:
  check-changelog-updated: any of: ^(src/|tests/|benchmarks/|demos/)
  check-docs-updated: any of: ^src/kernel_pytorch/backends/
  sync-doc-versions: any of: ^src/kernel_pytorch/__init__\.py$
  check-documentation-policy: any of: \.(md|markdown|mdown)$
