Repository CloudlyIO/torchbridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-changelog-updated, check-docs-updated, sync-doc-versions, check-documentation-policy

check-changelog-updated:
  name: Check CHANGELOG.md updated
  entry: python3 scripts/check_changelog_updated.py
  language: system

check-docs-updated:
  name: Check documentation updated
  entry: python3 scripts/check_docs_updated.py
  language: system

sync-doc-versions:
  name: Sync documentation versions
  entry: python3 scripts/sync_doc_versions.py
  language: system
  pass_filenames: false

check-documentation-policy:
  name: Check documentation policy
  entry: python3 scripts/check_documentation_policy.py
  language: system
  pass_filenames: false

feat: add cross-backend benchmark report script
  scripts/cross_backend_benchmark_report.py
Due: none

ci: enable PyPI publishing with TestPyPI safety step
  .github/workflows/release.yml
Due: none

docs: update CHANGELOG for v0.5.0, rename package to torchbridge-ml
  CHANGELOG.md
  pyproject.toml
Due: check-documentation-policy

ci: switch to OIDC trusted publishing for PyPI
  .github/workflows/release.yml
Due: none

ci: add pypi environment for OIDC trusted publishing
  .github/workflows/release.yml
Due: none

ci: add skip-existing to PyPI publish steps
  .github/workflows/release.yml
Due: none

chore: fix remaining lint errors manually
  benchmarks/amd_integration_benchmark.py
  benchmarks/backend_comparison_benchmark.py
  benchmarks/dynamic_shapes_benchmark.py
  tests/features/test_auto_optimization.py
Due: check-changelog-updated

chore: update AWS key name reference to generic name
  scripts/validation/run_cloud_validation.py
Due: none

refactor: migrate demos to TorchBridge patterns
  demos/compiler/basic.py
  demos/flex_attention_demo.py
  demos/shared/utils.py
Due: check-changelog-updated

refactor: migrate demos to TorchBridge HAL patterns
  demos/compiler/basic.py
  demos/flex_attention_demo.py
  demos/shared/utils.py
Due: check-changelog-updated

refactor: migrate benchmarks to TorchBridge HAL patterns
  benchmarks/framework/benchmark_runner.py
  benchmarks/framework/timing_utils.py
Due: check-changelog-updated

Path conditions:
  check-changelog-updated: any of: ^(src/|tests/|benchmarks/|demos/)
  check-docs-updated: any of: ^src/kernel_pytorch/backends/
  sync-doc-versions: any of: ^src/kernel_pytorch/__init__\.py$
  check-documentation-policy: any of: \.(md|markdown|mdown)$
