Repository CloudlyIO/torchbridge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-changelog-updated, check-docs-updated, sync-doc-versions, check-documentation-policy

check-changelog-updated:
  name: Check CHANGELOG.md updated
  entry: python3 scripts/check_changelog_updated.py
  language: system

check-docs-updated:
  name: Check documentation updated
  entry: python3 scripts/check_docs_updated.py
  language: system

sync-doc-versions:
  name: Sync documentation versions
  entry: python3 scripts/sync_doc_versions.py
  language: system
  pass_filenames: false

check-documentation-policy:
  name: Check documentation policy
  entry: python3 scripts/check_documentation_policy.py
  language: system
  pass_filenames: false

feat: add BERT SQuAD cross-backend cloud validation
  .github/workflows/bert-squad-validation.yml
  examples/bert_squad/docs/cloud-testing-guide.md
  examples/bert_squad/requirements.txt
  examples/bert_squad/scripts/cloud_validation.sh
Due: check-documentation-policy

docs: add CLAUDE.md with cloud validation instructions
  CLAUDE.md
Due: check-documentation-policy

docs: add cloud validation instructions and configuration
  CLAUDE.md
Due: check-documentation-policy

docs: update permanent cloud validation config
  CLAUDE.md
Due: check-documentation-policy

docs: update CLAUDE.md with permanent cloud config
  CLAUDE.md
Due: check-documentation-policy

docs: update AMD validation history and notes
  CLAUDE.md
Due: check-documentation-policy

docs: update CLAUDE.md with AMD validation history and TODO
  CLAUDE.md
Due: check-documentation-policy

docs: add AMD Developer Cloud access configuration
  CLAUDE.md
Due: check-documentation-policy

docs: add permanent AMD Developer Cloud access details to CLAUDE.md
  CLAUDE.md
Due: check-documentation-policy

feat: v0.5.5 — NVIDIA Blackwell hardware support (sm_100/sm_120)
  docs/reference/hardware-matrix.md
  pyproject.toml
  pytest.ini
  setup.py
  src/torchbridge/backends/nvidia/cuda_utilities.py
  src/torchbridge/backends/nvidia/fp8_compiler.py
  src/torchbridge/backends/nvidia/nvidia_backend.py
  src/torchbridge/core/config.py
  src/torchbridge/core/hardware_detector.py
  src/torchbridge/core/kernel_registry.py
  src/torchbridge/hardware/abstraction/vendor_adapters.py
  src/torchbridge/precision/__init__.py
  src/torchbridge/precision/fp4_native.py
  src/torchbridge/validation/unified_validator.py
  tests/backends/test_blackwell_detection.py
  tests/features/test_auto_optimization.py
Due: check-changelog-updated, check-documentation-policy

feat: v0.5.7 — AMD CDNA 4 support, MI325X detection, naming cleanup
  .githooks/README.md
  .githooks/commit-msg
  CHANGELOG.md
  README.md
  docs/backends/amd.md
  docs/backends/nvidia.md
  docs/backends/tpu.md
  docs/getting_started/installation.md
  docs/getting_started/quickstart.md
  docs/getting_started/troubleshooting.md
  docs/guides/cli.md
  docs/guides/hardware-setup.md
  pyproject.toml
  scripts/install_hooks.sh
  src/torchbridge/__init__.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/backends/amd/amd_optimizer.py
  src/torchbridge/backends/amd/memory_manager.py
  src/torchbridge/backends/amd/rocm_compiler.py
  src/torchbridge/core/config.py
  src/torchbridge/core/hardware_detector.py
  src/torchbridge/hardware/abstraction/vendor_adapters.py
  tests/backends/test_amd_backend.py
  tests/backends/test_cdna4_detection.py
Due: check-changelog-updated, check-documentation-policy

feat: v0.5.8 — modern model examples and benchmark suite
  examples/models/medium/deepseek_optimization.py
  examples/models/medium/llama4_optimization.py
  examples/models/medium/qwen3_optimization.py
  examples/models/small/gemma3_optimization.py
  examples/models/vision/sam3_optimization.py
  pyproject.toml
  scripts/benchmark_suite.py
  src/torchbridge/__init__.py
Due: check-changelog-updated

add cloud validation script for v0.5.8 model examples
  scripts/cloud_testing/validate_model_examples.sh
Due: none

Path conditions:
  check-changelog-updated: any of: ^(src/|tests/|benchmarks/|demos/)
  check-docs-updated: any of: ^src/kernel_pytorch/backends/
  sync-doc-versions: any of: ^src/kernel_pytorch/__init__\.py$
  check-documentation-policy: any of: \.(md|markdown|mdown)$
