Repository CloudlyIO/torchbridge: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Attention Module, Precision Module, Memory Module, Hardware Backends, Deployment, Distributed Training

v0.5.44: fix: GPU validation and benchmark fixes
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/benchmarks/claim_benchmarks.py
  src/torchbridge/benchmarks/claim_registry.py
Due: unittests, integration

v0.5.44: GPU validation + benchmark fixes — real user testing ready
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/benchmarks/claim_benchmarks.py
  src/torchbridge/benchmarks/claim_registry.py
Due: unittests, integration

v0.5.45: fix: 3 API bugs found in user testing
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/backends/nvidia/nvidia_backend.py
  src/torchbridge/inference/speculative/engine.py
Due: unittests, integration

v0.5.45: User testing run — 3 API bugs fixed
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/backends/nvidia/nvidia_backend.py
  src/torchbridge/inference/speculative/engine.py
Due: unittests, integration

chore: ban Co-Authored-By AI lines from all commit messages
  CLAUDE.md
Due: none

chore: update contributor commit message guidelines
  CLAUDE.md
Due: none

v0.5.46: fix: architecture guard patch, post-release cleanup
  CHANGELOG.md
  README.md
  pyproject.toml
  scripts/cloud_testing/master_test.sh
  src/torchbridge/inference/speculative/engine.py
  tests/backends/test_nvidia_backend.py
  tests/benchmark/test_advanced_memory_benchmarks.py
  tests/integration/test_backend_integration.py
  tests/unit/test_adapter_compatibility.py
  tests/unit/test_speculation_engine.py
Due: unittests, integration

v0.5.46: Architecture guard patch + v0.5.45 cleanup
  CHANGELOG.md
  README.md
  pyproject.toml
  scripts/cloud_testing/master_test.sh
  src/torchbridge/inference/speculative/engine.py
  tests/backends/test_nvidia_backend.py
  tests/benchmark/test_advanced_memory_benchmarks.py
  tests/integration/test_backend_integration.py
  tests/unit/test_adapter_compatibility.py
  tests/unit/test_speculation_engine.py
Due: unittests, integration

v0.5.47: Integrity sweep — 5 source-level correctness fixes
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/attention/dispatch/benchmark_cache.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/attention/dispatch/kernel_types.py
  src/torchbridge/benchmarks/claim_registry.py
  src/torchbridge/distributed/__init__.py
  src/torchbridge/distributed/config.py
  src/torchbridge/distributed/fsdp.py
  src/torchbridge/precision/quantization/compatibility.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/precision/quantization/formats.py
  src/torchbridge/precision/quantization/torchao_integration.py
  tests/integration/test_claim_benchmarks_pipeline.py
  tests/integration/test_distributed_pipeline.py
  tests/integration/test_fsdp2_apply.py
  tests/unit/test_attention_benchmark_cache.py
  tests/unit/test_attention_dispatch_compatibility.py
  tests/unit/test_attention_kernel_types.py
  tests/unit/test_claim_registry.py
  tests/unit/test_distributed_config.py
  tests/unit/test_distributed_fsdp2.py
  tests/unit/test_nccl_version_check.py
  tests/unit/test_quantization_compatibility.py
  tests/unit/test_quantization_formats.py
Due: unittests, integration, Attention Module, Precision Module

v0.5.47: fix: 5 source-level correctness fixes (#11)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/attention/dispatch/benchmark_cache.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/attention/dispatch/kernel_types.py
  src/torchbridge/benchmarks/claim_registry.py
  src/torchbridge/distributed/__init__.py
  src/torchbridge/distributed/config.py
  src/torchbridge/distributed/fsdp.py
  src/torchbridge/precision/quantization/compatibility.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/precision/quantization/formats.py
  src/torchbridge/precision/quantization/torchao_integration.py
  tests/integration/test_claim_benchmarks_pipeline.py
  tests/integration/test_distributed_pipeline.py
  tests/integration/test_fsdp2_apply.py
  tests/unit/test_attention_benchmark_cache.py
  tests/unit/test_attention_dispatch_compatibility.py
  tests/unit/test_attention_kernel_types.py
  tests/unit/test_claim_registry.py
  tests/unit/test_distributed_config.py
  tests/unit/test_distributed_fsdp2.py
  tests/unit/test_nccl_version_check.py
  tests/unit/test_quantization_compatibility.py
  tests/unit/test_quantization_formats.py
Due: unittests, integration, Attention Module, Precision Module

v0.5.47: Integrity sweep — 5 source-level correctness fixes (#11)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/attention/dispatch/benchmark_cache.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/attention/dispatch/kernel_types.py
  src/torchbridge/benchmarks/claim_registry.py
  src/torchbridge/distributed/__init__.py
  src/torchbridge/distributed/config.py
  src/torchbridge/distributed/fsdp.py
  src/torchbridge/precision/quantization/compatibility.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/precision/quantization/formats.py
  src/torchbridge/precision/quantization/torchao_integration.py
  tests/integration/test_claim_benchmarks_pipeline.py
  tests/integration/test_distributed_pipeline.py
  tests/integration/test_fsdp2_apply.py
  tests/unit/test_attention_benchmark_cache.py
  tests/unit/test_attention_dispatch_compatibility.py
  tests/unit/test_attention_kernel_types.py
  tests/unit/test_claim_registry.py
  tests/unit/test_distributed_config.py
  tests/unit/test_distributed_fsdp2.py
  tests/unit/test_nccl_version_check.py
  tests/unit/test_quantization_compatibility.py
  tests/unit/test_quantization_formats.py
Due: unittests, integration, Attention Module, Precision Module

v0.5.48: QLoRA — complete the adapter system
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/__init__.py
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/adapters/engine.py
  src/torchbridge/adapters/layers.py
  tests/integration/test_adapter_pipeline.py
  tests/unit/test_adapter_compatibility.py
  tests/unit/test_adapter_engine.py
  tests/unit/test_adapter_layers.py
Due: unittests, integration

v0.5.48: feat: complete QLoRA adapter system (#12)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/__init__.py
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/adapters/engine.py
  src/torchbridge/adapters/layers.py
  tests/integration/test_adapter_pipeline.py
  tests/unit/test_adapter_compatibility.py
  tests/unit/test_adapter_engine.py
  tests/unit/test_adapter_layers.py
Due: unittests, integration

v0.5.48: QLoRA — complete the adapter system (#12)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/__init__.py
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/adapters/engine.py
  src/torchbridge/adapters/layers.py
  tests/integration/test_adapter_pipeline.py
  tests/unit/test_adapter_compatibility.py
  tests/unit/test_adapter_engine.py
  tests/unit/test_adapter_layers.py
Due: unittests, integration

v0.5.49: tb-validate --compare cross-backend output comparison CLI
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/validate.py
  tests/integration/test_validate_compare_pipeline.py
  tests/unit/test_validate_compare.py
Due: unittests, integration

v0.5.49: feat: tb-validate --compare cross-backend output comparison
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/validate.py
  tests/integration/test_validate_compare_pipeline.py
  tests/unit/test_validate_compare.py
Due: unittests, integration

v0.5.50: LLM Server Batch Correctness — 4 bugs fixed, 6 new tests
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/benchmarks/claim_registry.py
  src/torchbridge/deployment/serving/llm_server.py
  tests/e2e/test_llm_server.py
  tests/integration/test_claim_benchmarks_pipeline.py
  tests/unit/test_claim_registry.py
Due: unittests, integration, Deployment

v0.5.50: fix: LLM server batch correctness — 4 bugs fixed, 6 new tests (#13)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/benchmarks/claim_registry.py
  src/torchbridge/deployment/serving/llm_server.py
  tests/e2e/test_llm_server.py
  tests/integration/test_claim_benchmarks_pipeline.py
  tests/unit/test_claim_registry.py
Due: unittests, integration, Deployment

v0.5.50: LLM Server Batch Correctness — 4 bugs fixed, 6 new tests (#13)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/benchmarks/claim_registry.py
  src/torchbridge/deployment/serving/llm_server.py
  tests/e2e/test_llm_server.py
  tests/integration/test_claim_benchmarks_pipeline.py
  tests/unit/test_claim_registry.py
Due: unittests, integration, Deployment

Path conditions:
  unittests: any of: src/, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  integration: any of: src/, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Attention Module: any of: src/torchbridge/attention/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Precision Module: any of: src/torchbridge/precision/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Memory Module: any of: src/torchbridge/advanced_memory/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Hardware Backends: any of: src/torchbridge/hardware/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Deployment: any of: src/torchbridge/deployment/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Distributed Training: any of: src/torchbridge/models/distributed/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
