Repository CloudlyIO/torchbridge: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Attention Module, Precision Module, Memory Module, Hardware Backends, Deployment, Distributed Training

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  unittests:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

ignore:
  - "tests/**/*"
  - "benchmarks/**/*"
  - "examples/**/*"
  - "demos/**/*"
  - "docs/**/*"
  - "scripts/**/*"
  - "**/__pycache__/**"
  - "**/conftest.py"
  - "setup.py"

# Component configuration for granular coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: attention
      name: Attention Module
      paths:
        - src/torchbridge/attention/**
    - component_id: precision
      name: Precision Module
      paths:
        - src/torchbridge/precision/**
    - component_id: memory
      name: Memory Module
      paths:
        - src/torchbridge/advanced_memory/**
    - component_id: hardware
      name: Hardware Backends
      paths:
        - src/torchbridge/hardware/**
    - component_id: deployment
      name: Deployment
      paths:
        - src/torchbridge/deployment/**
    - component_id: distributed
      name: Distributed Training
      paths:
        - src/torchbridge/models/distributed/**

v0.5.77: Contraction XI — models/ + inference/ cleanup
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/inference/__init__.py
  src/torchbridge/inference/disaggregated.py
  src/torchbridge/inference/kv_handoff.py
  src/torchbridge/inference/phase_detection.py
  src/torchbridge/inference/speculative/__init__.py
  src/torchbridge/inference/speculative/methods.py
  src/torchbridge/inference/structured/__init__.py
  src/torchbridge/inference/structured/output_format.py
  src/torchbridge/models/__init__.py
  src/torchbridge/models/llm/__init__.py
  src/torchbridge/models/llm/kv/__init__.py
  src/torchbridge/models/llm/kv/quantized_cache.py
  src/torchbridge/models/llm/kv_cache.py
  tests/integration/test_kv_cache_integration.py
  tests/integration/test_llm_integration.py
  tests/unit/test_contraction_xi.py
  tests/unit/test_disaggregated_fleet.py
  tests/unit/test_kv_handoff.py
  tests/unit/test_phase_detection.py
  tests/unit/test_quantized_kv_cache.py
  tests/unit/test_speculative_methods.py
  tests/unit/test_structured_output.py
Due: unittests, integration

v0.5.77: refactor: models/ + inference/ cleanup (#39)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/inference/__init__.py
  src/torchbridge/inference/disaggregated.py
  src/torchbridge/inference/kv_handoff.py
  src/torchbridge/inference/phase_detection.py
  src/torchbridge/inference/speculative/__init__.py
  src/torchbridge/inference/speculative/methods.py
  src/torchbridge/inference/structured/__init__.py
  src/torchbridge/inference/structured/output_format.py
  src/torchbridge/models/__init__.py
  src/torchbridge/models/llm/__init__.py
  src/torchbridge/models/llm/kv/__init__.py
  src/torchbridge/models/llm/kv/quantized_cache.py
  src/torchbridge/models/llm/kv_cache.py
  tests/integration/test_kv_cache_integration.py
  tests/integration/test_llm_integration.py
  tests/unit/test_contraction_xi.py
  tests/unit/test_disaggregated_fleet.py
  tests/unit/test_kv_handoff.py
  tests/unit/test_phase_detection.py
  tests/unit/test_quantized_kv_cache.py
  tests/unit/test_speculative_methods.py
  tests/unit/test_structured_output.py
Due: unittests, integration

v0.5.77: Contraction XI — models/ + inference/ cleanup (#39)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/inference/__init__.py
  src/torchbridge/inference/disaggregated.py
  src/torchbridge/inference/kv_handoff.py
  src/torchbridge/inference/phase_detection.py
  src/torchbridge/inference/speculative/__init__.py
  src/torchbridge/inference/speculative/methods.py
  src/torchbridge/inference/structured/__init__.py
  src/torchbridge/inference/structured/output_format.py
  src/torchbridge/models/__init__.py
  src/torchbridge/models/llm/__init__.py
  src/torchbridge/models/llm/kv/__init__.py
  src/torchbridge/models/llm/kv/quantized_cache.py
  src/torchbridge/models/llm/kv_cache.py
  tests/integration/test_kv_cache_integration.py
  tests/integration/test_llm_integration.py
  tests/unit/test_contraction_xi.py
  tests/unit/test_disaggregated_fleet.py
  tests/unit/test_kv_handoff.py
  tests/unit/test_phase_detection.py
  tests/unit/test_quantized_kv_cache.py
  tests/unit/test_speculative_methods.py
  tests/unit/test_structured_output.py
Due: unittests, integration

v0.5.79: Quality Hardening III — 5 post-assessment fixes
  .github/workflows/gpu-validation.yml
  CHANGELOG.md
  pyproject.toml
  scripts/validation/run_gpu_validation.py
  src/torchbridge/attention/dispatch/benchmark_cache.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/distributed/config.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/utils/cache.py
  tests/unit/test_benchmark_cache_hardening.py
  tests/unit/test_ci_validation_infra.py
  tests/unit/test_downgrade_logging.py
  tests/unit/test_input_validation_hardening.py
  tests/unit/test_lru_cache_thread_safety.py
Due: unittests, integration, Attention Module, Precision Module

v0.5.79: Quality Hardening III — 5 post-assessment fixes (#41)
  .github/workflows/gpu-validation.yml
  CHANGELOG.md
  pyproject.toml
  scripts/validation/run_gpu_validation.py
  src/torchbridge/attention/dispatch/benchmark_cache.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/distributed/config.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/utils/cache.py
  tests/unit/test_benchmark_cache_hardening.py
  tests/unit/test_ci_validation_infra.py
  tests/unit/test_downgrade_logging.py
  tests/unit/test_input_validation_hardening.py
  tests/unit/test_lru_cache_thread_safety.py
Due: unittests, integration, Attention Module, Precision Module

v0.5.79: fix: 5 post-assessment fixes (#41)
  .github/workflows/gpu-validation.yml
  CHANGELOG.md
  pyproject.toml
  scripts/validation/run_gpu_validation.py
  src/torchbridge/attention/dispatch/benchmark_cache.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/distributed/config.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/utils/cache.py
  tests/unit/test_benchmark_cache_hardening.py
  tests/unit/test_ci_validation_infra.py
  tests/unit/test_downgrade_logging.py
  tests/unit/test_input_validation_hardening.py
  tests/unit/test_lru_cache_thread_safety.py
Due: unittests, integration, Attention Module, Precision Module

v0.5.80: Five-gap close — QLoRA layers + CI smoke + exception logging + perf tests
  .github/workflows/gpu-validation.yml
  .github/workflows/security.yml
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/__init__.py
  src/torchbridge/adapters/engine.py
  src/torchbridge/adapters/layers.py
  src/torchbridge/core/config.py
  src/torchbridge/distributed/fsdp.py
  src/torchbridge/testing/otel_exporter.py
  src/torchbridge/testing/plugin.py
  tests/benchmark/test_config_path_perf.py
  tests/integration/test_adapter_pipeline.py
  tests/unit/test_adapter_engine.py
  tests/unit/test_adapter_layers.py
  tests/unit/test_ci_validation_infra.py
  tests/unit/test_exception_logging.py
Due: unittests, integration

v0.5.80: feat: QLoRA layers + CI smoke + exception logging + perf tests (#42)
  .github/workflows/gpu-validation.yml
  .github/workflows/security.yml
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/__init__.py
  src/torchbridge/adapters/engine.py
  src/torchbridge/adapters/layers.py
  src/torchbridge/core/config.py
  src/torchbridge/distributed/fsdp.py
  src/torchbridge/testing/otel_exporter.py
  src/torchbridge/testing/plugin.py
  tests/benchmark/test_config_path_perf.py
  tests/integration/test_adapter_pipeline.py
  tests/unit/test_adapter_engine.py
  tests/unit/test_adapter_layers.py
  tests/unit/test_ci_validation_infra.py
  tests/unit/test_exception_logging.py
Due: unittests, integration

v0.5.80: Five-gap close — QLoRA layers + CI smoke + exception logging + perf tests (#42)
  .github/workflows/gpu-validation.yml
  .github/workflows/security.yml
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/__init__.py
  src/torchbridge/adapters/engine.py
  src/torchbridge/adapters/layers.py
  src/torchbridge/core/config.py
  src/torchbridge/distributed/fsdp.py
  src/torchbridge/testing/otel_exporter.py
  src/torchbridge/testing/plugin.py
  tests/benchmark/test_config_path_perf.py
  tests/integration/test_adapter_pipeline.py
  tests/unit/test_adapter_engine.py
  tests/unit/test_adapter_layers.py
  tests/unit/test_ci_validation_infra.py
  tests/unit/test_exception_logging.py
Due: unittests, integration

chore: add missing gitignore entries + update validation results
  .gitignore
  CLAUDE.md
Due: none

chore: pre-release cleanup — remove stale files, scrub personal identifiers
  CLAUDE.md
  demos/nvidia_configuration_demo.py
  demos/tpu_integration_demo.py
  docs/getting_started/quickstart.md
  local/scripts/validation/report_generator.py
  local/scripts/validation/run_full_cloud_validation.sh
  requirements.txt
  scripts/validation/run_cloud_validation.py
  scripts/validation/test_nvidia_integration.py
  scripts/validation/tpu_v5e_validation.sh
  scripts/validation/validate_gpu_setup.py
  setup.py
Due: none

chore: minimize repo structure — remove demos/, pytest.ini, move codecov+templates into .github/
  .github/codecov.yml
  .github/templates/README.md
  .github/templates/torchbridge-validate.yml
  demos/README.md
  demos/attention/__init__.py
  demos/attention/flash.py
  demos/hardware/__init__.py
  demos/hardware/multi_gpu.py
  demos/precision/__init__.py
  demos/precision/fp8.py
  demos/production/__init__.py
  demos/production/deployment.py
  demos/shared/__init__.py
  demos/shared/data.py
  demos/shared/models.py
  demos/shared/utils.py
  demos/unified_backend_demo.py
  pytest.ini
Due: none

security: patch trivy-action supply chain vulnerability (0.28.0 → 0.35.0)
  .github/workflows/docker.yml
Due: none

fix: resolve all mypy type errors — 0 remaining
  src/torchbridge/adapters/engine.py
  src/torchbridge/adapters/layers.py
  src/torchbridge/cli/advisor.py
  src/torchbridge/cli/validate.py
Due: unittests, integration

health: critical accuracy fixes + dead code removal
  .github/workflows/gpu-validation.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  README.md
  docs/getting_started/quickstart.md
  pyproject.toml
  src/torchbridge/core/config.py
Due: unittests, integration

v0.5.80: CI fixes, .github cleanup, cloud billing guard
  .github/workflows/amd-gpu-test.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/cross-backend-validation.yml
  .github/workflows/release.yml
  README.md
  pyproject.toml
  scripts/cloud/cloud_check.sh
  src/torchbridge/backends/base_adapter.py
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/otel_exporter.py
  tests/integration/test_backend_integration.py
Due: unittests, integration

v0.5.80: docker/ cleanup — remove dead serving stack, fix broken CMDs
  .github/workflows/docker.yml
  docker/Dockerfile.amd
  docker/Dockerfile.cpu
  docker/Dockerfile.development
  docker/Dockerfile.nvidia
  docker/Dockerfile.production
  docker/Dockerfile.trainium
  docker/docker-compose.yml
  docker/entrypoint.sh
  docker/kubernetes/deployment.yaml
  docker/kubernetes/hpa.yaml
  docker/kubernetes/servicemonitor.yaml
  docker/prometheus.yml
Due: none

v0.5.80: docs accuracy fixes — tagline, cloud validation results
  docs/index.rst
  docs/reference/cloud-validation.md
Due: none

scripts/ cleanup — remove dead cloud_dashboards and orchestrator stub
  scripts/cloud_dashboards/__init__.py
  scripts/cloud_dashboards/aws_cloudwatch_dashboard.json
  scripts/cloud_dashboards/cross_platform_comparison.py
  scripts/cloud_dashboards/gcp_monitoring_dashboard.json
  scripts/validation/cloud_orchestrator.py
Due: none

examples/ cleanup — delete broken attention example, fix QuantizationMode typo
  examples/models/code/qwen3_coder_cross_backend.py
  examples/models/llm/attention_cross_backend.py
  examples/models/multimodal/qwen3_vl_cross_backend.py
Due: none

Deep sweep: remove all dead references for open-source launch
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codecov.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  docs/getting_started/troubleshooting.md
  docs/guides/data-handling.md
  docs/guides/deployment.md
  docs/reference/hardware-matrix.md
  examples/models/embedding/bge_m3_cross_backend.py
  examples/models/multimodal/qwen3_vl_cross_backend.py
  src/torchbridge/backends/nvidia/nvidia_exceptions.py
  src/torchbridge/backends/tpu/__init__.py
  src/torchbridge/backends/trainium/__init__.py
Due: unittests, integration

Open-source sweep round 2 — 9 stale/broken references fixed
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/templates/README.md
  docs/guides/hardware-setup.md
  docs/guides/kv-cache.md
  docs/guides/quantization.md
  docs/guides/use-cases.md
  pyproject.toml
  src/torchbridge/cli/__init__.py
Due: unittests, integration

Open-source sweep round 3 — 12 files, 7 issue classes fixed
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/gpu-validation.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  docker/Dockerfile.amd
  docker/Dockerfile.nvidia
  docs/backends/amd.md
  docs/backends/overview.md
  docs/getting_started/installation.md
  docs/guides/deployment.md
Due: none

Open-source sweep round 3 (tail) — 2 more stale version strings
  docker/Dockerfile.development
  docs/getting_started/troubleshooting.md
Due: none

docs: fix 6 broken CLI examples and API references
  CONTRIBUTING.md
  README.md
  docs/backends/overview.md
  docs/getting_started/installation.md
  docs/getting_started/quickstart.md
Due: none

docs: correctness pass + CLI bugfixes (v0.5.81)
  CHANGELOG.md
  README.md
  docs/guides/adapter-training.md
  docs/guides/attention.md
  docs/guides/checkpointing.md
  docs/guides/distributed-training.md
  docs/guides/performance-tuning.md
  docs/guides/speculative-decoding.md
  docs/guides/testing.md
  pyproject.toml
  src/torchbridge/cli/benchmark.py
  src/torchbridge/cli/quantize.py
  src/torchbridge/cli/validate.py
Due: unittests, integration
