Repository CloudlyIO/torchbridge: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Attention Module, Precision Module, Memory Module, Hardware Backends, Deployment, Distributed Training

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  unittests:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

ignore:
  - "tests/**/*"
  - "benchmarks/**/*"
  - "examples/**/*"
  - "demos/**/*"
  - "docs/**/*"
  - "scripts/**/*"
  - "**/__pycache__/**"
  - "**/conftest.py"
  - "setup.py"

# Component configuration for granular coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: attention
      name: Attention Module
      paths:
        - src/torchbridge/attention/**
    - component_id: precision
      name: Precision Module
      paths:
        - src/torchbridge/precision/**
    - component_id: memory
      name: Memory Module
      paths:
        - src/torchbridge/advanced_memory/**
    - component_id: hardware
      name: Hardware Backends
      paths:
        - src/torchbridge/hardware/**
    - component_id: deployment
      name: Deployment
      paths:
        - src/torchbridge/deployment/**
    - component_id: distributed
      name: Distributed Training
      paths:
        - src/torchbridge/models/distributed/**

fix: ignore CVE-2026-3219 in pip-audit until pip ships a patch
  .github/workflows/security.yml
Due: none

feat(tolerance-db): add derived entries for next-gen hardware (Blackwell, MI350X, TPU v7, Trn3)
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_tolerance_db.py
Due: unittests, integration

feat(tolerance-db): add derived entries for next-gen hardware (Blackwell, MI350X, TPU v7, Trn3)
  tests/unit/test_tolerance_db.py
Due: none

feat(tolerance-db): add derived entries for next-gen hardware (Blackwell, MI350X, TPU v7, Trn3) #75
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_tolerance_db.py
Due: unittests, integration

feat: add derived tolerance entries for new hardware backends (#79)
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_tolerance_db.py
Due: unittests, integration

docs: add HARDWARE_SUPPORT.md with tolerance DB coverage table (#76)
  HARDWARE_SUPPORT.md
Due: none

test: add tolerance DB coverage tests (#76)
  tests/unit/test_tolerance_db_coverage.py
Due: none

test: add tolerance DB coverage tests fix (#76)
  tests/unit/test_tolerance_db_coverage.py
Due: none

test: add tolerance DB coverage tests lint fix (#76)
  tests/unit/test_tolerance_db_coverage.py
Due: none

docs: add HARDWARE_SUPPORT.md and tolerance DB coverage tests (#80)
  HARDWARE_SUPPORT.md
  tests/unit/test_tolerance_db_coverage.py
Due: none

fix: remove stale MoE test step, fix fp8→quant rename, guard CPU benchmark
  scripts/cloud/master_test.sh
Due: none

Add A10G cuda vs cpu results - Qwen3-0.6B float32/bfloat16/float16
  results/paper1/a10g_notes.txt
  results/paper1/qwen3-0.6b_a10g_sanity.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_bfloat16.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_float16.json
  results/paper1/qwen3-0.6b_cuda_a10g_vs_cpu_float32.json
  results/paper1/validate_aws_a10g.json
Due: none

fix: wire Trainium backend to tb-validate and run_gpu_validation.py (v0.5.96)
  CHANGELOG.md
  pyproject.toml
  scripts/validation/run_gpu_validation.py
  src/torchbridge/cli/validate.py
Due: unittests, integration

fix: handle XLA tensor semantics in run_gpu_validation.py for Trainium
  scripts/validation/run_gpu_validation.py
Due: none

fix: bump mypy python_version 3.10→3.12 for numpy 2.x stubs
  pyproject.toml
Due: none

fix: wire Trainium to tb-validate + run_gpu_validation, fix mypy numpy stubs (v0.5.96)
  CHANGELOG.md
  pyproject.toml
  scripts/validation/run_gpu_validation.py
  src/torchbridge/cli/validate.py
Due: unittests, integration

fix: MultiStepTracer NaN + index-out-of-range on XLA/Trainium trace (v0.5.97)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/testing/trace_validator.py
Due: unittests, integration

fix: MultiStepTracer NaN + index-out-of-range on XLA/Trainium trace (v0.5.97) (#89)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/testing/trace_validator.py
Due: unittests, integration

ci: remove continue-on-error from dependency-review
  .github/workflows/security.yml
Due: none

ci: remove continue-on-error from dependency-review (repo going public)
  .github/workflows/security.yml
Due: none

feat: 2026 MoE model family support (v0.5.99)
  CHANGELOG.md
  HARDWARE_SUPPORT.md
  pyproject.toml
  scripts/validation/run_gpu_validation.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/attention/dispatch/kernel_types.py
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_attention_kernel_types.py
  tests/unit/test_tolerance_db_coverage.py
Due: unittests, integration, Attention Module

feat: 2026 MoE model family support (v0.5.99) (#99)
  CHANGELOG.md
  HARDWARE_SUPPORT.md
  pyproject.toml
  scripts/validation/run_gpu_validation.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/attention/dispatch/kernel_types.py
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_attention_kernel_types.py
  tests/unit/test_tolerance_db_coverage.py
Due: unittests, integration, Attention Module

feat: 2026 silicon coverage (v0.5.100)
  CHANGELOG.md
  HARDWARE_SUPPORT.md
  pyproject.toml
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/cli/advisor.py
  src/torchbridge/core/config.py
  src/torchbridge/distributed/fsdp.py
  src/torchbridge/precision/compatibility.py
  src/torchbridge/precision/formats.py
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_tolerance_db_coverage.py
Due: unittests, integration, Attention Module, Precision Module

feat: 2026 silicon coverage (v0.5.100) (#100)
  CHANGELOG.md
  HARDWARE_SUPPORT.md
  pyproject.toml
  src/torchbridge/adapters/compatibility.py
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/cli/advisor.py
  src/torchbridge/core/config.py
  src/torchbridge/distributed/fsdp.py
  src/torchbridge/precision/compatibility.py
  src/torchbridge/precision/formats.py
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_tolerance_db_coverage.py
Due: unittests, integration, Attention Module, Precision Module

fix: update tests for v0.5.99/v0.5.100 expanded coverage
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_attention_dispatch_compatibility.py
  tests/unit/test_quantization_compatibility.py
  tests/unit/test_quantization_formats.py
  tests/unit/test_tolerance_db.py
Due: unittests, integration

fix: update tests for v0.5.99/v0.5.100 expanded coverage (#101)
  src/torchbridge/testing/tolerance_db.py
  tests/unit/test_attention_dispatch_compatibility.py
  tests/unit/test_quantization_compatibility.py
  tests/unit/test_quantization_formats.py
  tests/unit/test_tolerance_db.py
Due: unittests, integration
