Repository CloudlyIO/torchbridge: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Attention Module, Precision Module, Memory Module, Hardware Backends, Deployment, Distributed Training

refactor: migrate benchmarks to TorchBridge patterns
  benchmarks/framework/benchmark_runner.py
  benchmarks/framework/timing_utils.py
Due: none

refactor: migrate benchmarks to TorchBridge HAL patterns
  benchmarks/framework/benchmark_runner.py
  benchmarks/framework/timing_utils.py
Due: none

docs: add refactoring TODO for vendor_adapters.py
  src/torchbridge/hardware/abstraction/vendor_adapters.py
Due: unittests, integration, Hardware Backends

fix: update cloud validation script for current environments
  scripts/validation/run_cloud_validation.py
Due: none

chore: consolidate to CloudlyIO org, fix versions and demo imports
  .github/ISSUE_TEMPLATE/config.yml
  benchmarks/framework/__init__.py
  demos/amd_backend_demo.py
  demos/auto_optimization_demo.py
  demos/custom_kernel_demo.py
  demos/flex_attention_demo.py
  demos/fp8_native_demo.py
  demos/moe_demo.py
  demos/nvidia_integration_demo.py
  demos/performance_regression_demo.py
  demos/production_pipeline_demo.py
  demos/shared/__init__.py
  demos/unified_backend_demo.py
  src/torchbridge/hardware/abstraction/vendor_adapters.py
Due: unittests, integration, Hardware Backends

chore: bump version to 0.5.1
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/backends/amd/__init__.py
  src/torchbridge/backends/intel/__init__.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/tpu/__init__.py
  src/torchbridge/cli/__init__.py
  src/torchbridge/core/management/__init__.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/serving/__init__.py
  src/torchbridge/models/multimodal/__init__.py
  src/torchbridge/models/vision/__init__.py
  src/torchbridge/monitoring/__init__.py
Due: unittests, integration, Deployment

fix: disable attestations in release workflow
  .github/workflows/release.yml
Due: none

chore: bump version to 0.5.2
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/backends/amd/__init__.py
  src/torchbridge/backends/intel/__init__.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/tpu/__init__.py
  src/torchbridge/cli/__init__.py
  src/torchbridge/core/management/__init__.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/serving/__init__.py
  src/torchbridge/models/multimodal/__init__.py
  src/torchbridge/models/vision/__init__.py
  src/torchbridge/monitoring/__init__.py
Due: unittests, integration, Deployment

fix: suppress noisy platform warnings in CLI output
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/backends/amd/__init__.py
  src/torchbridge/backends/intel/__init__.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/tpu/__init__.py
  src/torchbridge/cli/__init__.py
  src/torchbridge/core/management/__init__.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/serving/__init__.py
  src/torchbridge/models/multimodal/__init__.py
  src/torchbridge/models/vision/__init__.py
  src/torchbridge/monitoring/__init__.py
  src/torchbridge/precision/fp8_training_engine.py
Due: unittests, integration, Precision Module, Deployment

feat: add BERT SQuAD cross-backend training example
  examples/bert_squad/README.md
  examples/bert_squad/export_model.py
  examples/bert_squad/inference.py
  examples/bert_squad/requirements.txt
  examples/bert_squad/scripts/run_all_backends.sh
  examples/bert_squad/tests/test_consistency.py
  examples/bert_squad/train.py
  examples/bert_squad/validate_cross_backend.py
Due: none

fix: use shared model weights in cross-backend consistency tests
  examples/bert_squad/tests/test_consistency.py
Due: none

feat: add BERT SQuAD cross-backend cloud validation
  .github/workflows/bert-squad-validation.yml
  examples/bert_squad/docs/cloud-testing-guide.md
  examples/bert_squad/requirements.txt
  examples/bert_squad/scripts/cloud_validation.sh
Due: none

Path conditions:
  unittests: any of: src/, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  integration: any of: src/, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Attention Module: any of: src/torchbridge/attention/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Precision Module: any of: src/torchbridge/precision/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Memory Module: any of: src/torchbridge/advanced_memory/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Hardware Backends: any of: src/torchbridge/hardware/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Deployment: any of: src/torchbridge/deployment/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Distributed Training: any of: src/torchbridge/models/distributed/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
