Repository CloudlyIO/torchbridge: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Attention Module, Precision Module, Memory Module, Hardware Backends, Deployment, Distributed Training

v0.5.53: Honest Labeling + PyPI Refresh
  CHANGELOG.md
  README.md
  docs/getting_started/quickstart.md
  docs/getting_started/troubleshooting.md
  docs/guides/cli.md
  docs/guides/deployment.md
  docs/guides/performance-tuning.md
  pyproject.toml
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/checkpoint/manager.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/export_cli.py
  src/torchbridge/distributed/config.py
  src/torchbridge/inference/speculative/engine.py
  src/torchbridge/precision/quantization/engine.py
Due: unittests, integration, Attention Module, Precision Module, Deployment

v0.5.53: Honest Labeling + PyPI Refresh (#15)
  CHANGELOG.md
  README.md
  docs/getting_started/quickstart.md
  docs/getting_started/troubleshooting.md
  docs/guides/cli.md
  docs/guides/deployment.md
  docs/guides/performance-tuning.md
  pyproject.toml
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/checkpoint/manager.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/export_cli.py
  src/torchbridge/distributed/config.py
  src/torchbridge/inference/speculative/engine.py
  src/torchbridge/precision/quantization/engine.py
Due: unittests, integration, Attention Module, Precision Module, Deployment

v0.5.53: fix: accurate feature labeling, PyPI metadata refresh (#15)
  CHANGELOG.md
  README.md
  docs/getting_started/quickstart.md
  docs/getting_started/troubleshooting.md
  docs/guides/cli.md
  docs/guides/deployment.md
  docs/guides/performance-tuning.md
  pyproject.toml
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/checkpoint/manager.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/export_cli.py
  src/torchbridge/distributed/config.py
  src/torchbridge/inference/speculative/engine.py
  src/torchbridge/precision/quantization/engine.py
Due: unittests, integration, Attention Module, Precision Module, Deployment

v0.5.54: Contraction III — delete MoE, fp8 impls, profiling wrapper, broken validator
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/production_validator.py
  src/torchbridge/mixture_of_experts/__init__.py
  src/torchbridge/mixture_of_experts/expert_networks.py
  src/torchbridge/mixture_of_experts/moe_layers.py
  src/torchbridge/mixture_of_experts/optimization.py
  src/torchbridge/mixture_of_experts/routing.py
  src/torchbridge/precision/__init__.py
  src/torchbridge/precision/fp8_native.py
  src/torchbridge/precision/fp8_training_engine.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/precision/quantization/torchao_integration.py
  src/torchbridge/utils/__init__.py
  src/torchbridge/utils/profiling.py
  tests/e2e/test_user_journey.py
  tests/integration/test_full_pipeline.py
  tests/robustness/test_missing_deps.py
  tests/robustness/test_network_failures.py
  tests/unit/test_mixture_of_experts.py
Due: unittests, integration, Precision Module, Deployment

v0.5.54: refactor: remove unvalidated ML primitives (#16)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/production_validator.py
  src/torchbridge/mixture_of_experts/__init__.py
  src/torchbridge/mixture_of_experts/expert_networks.py
  src/torchbridge/mixture_of_experts/moe_layers.py
  src/torchbridge/mixture_of_experts/optimization.py
  src/torchbridge/mixture_of_experts/routing.py
  src/torchbridge/precision/__init__.py
  src/torchbridge/precision/fp8_native.py
  src/torchbridge/precision/fp8_training_engine.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/precision/quantization/torchao_integration.py
  src/torchbridge/utils/__init__.py
  src/torchbridge/utils/profiling.py
  tests/e2e/test_user_journey.py
  tests/integration/test_full_pipeline.py
  tests/robustness/test_missing_deps.py
  tests/robustness/test_network_failures.py
  tests/unit/test_mixture_of_experts.py
Due: unittests, integration, Precision Module, Deployment

v0.5.54: Contraction III — delete MoE, fp8 impls, profiling wrapper, broken validator (#16)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/production_validator.py
  src/torchbridge/mixture_of_experts/__init__.py
  src/torchbridge/mixture_of_experts/expert_networks.py
  src/torchbridge/mixture_of_experts/moe_layers.py
  src/torchbridge/mixture_of_experts/optimization.py
  src/torchbridge/mixture_of_experts/routing.py
  src/torchbridge/precision/__init__.py
  src/torchbridge/precision/fp8_native.py
  src/torchbridge/precision/fp8_training_engine.py
  src/torchbridge/precision/quantization/engine.py
  src/torchbridge/precision/quantization/torchao_integration.py
  src/torchbridge/utils/__init__.py
  src/torchbridge/utils/profiling.py
  tests/e2e/test_user_journey.py
  tests/integration/test_full_pipeline.py
  tests/robustness/test_missing_deps.py
  tests/robustness/test_network_failures.py
  tests/unit/test_mixture_of_experts.py
Due: unittests, integration, Precision Module, Deployment

v0.5.56: Contraction V — serving stack + core components deleted (~4,859 lines)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/core/__init__.py
  src/torchbridge/core/components/__init__.py
  src/torchbridge/core/components/basic_optimized.py
  src/torchbridge/core/components/jit_optimized.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/serving/__init__.py
  src/torchbridge/deployment/serving/fastapi_server.py
  src/torchbridge/deployment/serving/llm_server.py
  src/torchbridge/deployment/serving/torchserve_handler.py
  src/torchbridge/deployment/serving/triton_config.py
  tests/e2e/test_llm_server.py
  tests/e2e/test_llm_server_auth.py
  tests/e2e/test_serving.py
  tests/integration/test_full_pipeline.py
  tests/security/test_model_serialization.py
  tests/unit/test_server_security_defaults.py
Due: unittests, integration, Deployment

v0.5.56: Contraction V — serving stack + core components deleted (~4,859 lines) (#18)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/core/__init__.py
  src/torchbridge/core/components/__init__.py
  src/torchbridge/core/components/basic_optimized.py
  src/torchbridge/core/components/jit_optimized.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/serving/__init__.py
  src/torchbridge/deployment/serving/fastapi_server.py
  src/torchbridge/deployment/serving/llm_server.py
  src/torchbridge/deployment/serving/torchserve_handler.py
  src/torchbridge/deployment/serving/triton_config.py
  tests/e2e/test_llm_server.py
  tests/e2e/test_llm_server_auth.py
  tests/e2e/test_serving.py
  tests/integration/test_full_pipeline.py
  tests/security/test_model_serialization.py
  tests/unit/test_server_security_defaults.py
Due: unittests, integration, Deployment

v0.5.56: refactor: remove serving layer (use vLLM/TGI for production serving) (#18)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/core/__init__.py
  src/torchbridge/core/components/__init__.py
  src/torchbridge/core/components/basic_optimized.py
  src/torchbridge/core/components/jit_optimized.py
  src/torchbridge/deployment/__init__.py
  src/torchbridge/deployment/serving/__init__.py
  src/torchbridge/deployment/serving/fastapi_server.py
  src/torchbridge/deployment/serving/llm_server.py
  src/torchbridge/deployment/serving/torchserve_handler.py
  src/torchbridge/deployment/serving/triton_config.py
  tests/e2e/test_llm_server.py
  tests/e2e/test_llm_server_auth.py
  tests/e2e/test_serving.py
  tests/integration/test_full_pipeline.py
  tests/security/test_model_serialization.py
  tests/unit/test_server_security_defaults.py
Due: unittests, integration, Deployment

v0.5.57: Contraction VI — attention implementations deleted (~2,800 lines)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/attention/__init__.py
  src/torchbridge/attention/compatibility/__init__.py
  src/torchbridge/attention/core/__init__.py
  src/torchbridge/attention/core/attention_ops.py
  src/torchbridge/attention/core/base.py
  src/torchbridge/attention/core/config.py
  src/torchbridge/attention/core/registry.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/attention/implementations/__init__.py
  src/torchbridge/attention/implementations/flash_attention.py
  src/torchbridge/attention/implementations/memory_efficient.py
  src/torchbridge/attention/implementations/sparse.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/nvidia/flash_attention_integration.py
  tests/backends/test_nvidia_backend.py
  tests/e2e/test_user_journey.py
  tests/integration/test_attention_dispatch_integration.py
  tests/integration/test_attention_dispatch_pipeline.py
  tests/integration/test_full_pipeline.py
  tests/robustness/test_missing_deps.py
  tests/robustness/test_network_failures.py
  tests/unit/test_attention_dispatcher.py
  tests/unit/test_dispatch_single_path.py
  tests/unit/test_gqa_config.py
Due: unittests, integration, Attention Module

v0.5.57: refactor: remove attention implementations (use PyTorch native) (#19)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/attention/__init__.py
  src/torchbridge/attention/compatibility/__init__.py
  src/torchbridge/attention/core/__init__.py
  src/torchbridge/attention/core/attention_ops.py
  src/torchbridge/attention/core/base.py
  src/torchbridge/attention/core/config.py
  src/torchbridge/attention/core/registry.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/attention/implementations/__init__.py
  src/torchbridge/attention/implementations/flash_attention.py
  src/torchbridge/attention/implementations/memory_efficient.py
  src/torchbridge/attention/implementations/sparse.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/nvidia/flash_attention_integration.py
  tests/backends/test_nvidia_backend.py
  tests/e2e/test_user_journey.py
  tests/integration/test_attention_dispatch_integration.py
  tests/integration/test_attention_dispatch_pipeline.py
  tests/integration/test_full_pipeline.py
  tests/robustness/test_missing_deps.py
  tests/robustness/test_network_failures.py
  tests/unit/test_attention_dispatcher.py
  tests/unit/test_dispatch_single_path.py
  tests/unit/test_gqa_config.py
Due: unittests, integration, Attention Module

v0.5.57: Contraction VI — attention implementations deleted (~2,800 lines) (#19)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/__init__.py
  src/torchbridge/attention/__init__.py
  src/torchbridge/attention/compatibility/__init__.py
  src/torchbridge/attention/core/__init__.py
  src/torchbridge/attention/core/attention_ops.py
  src/torchbridge/attention/core/base.py
  src/torchbridge/attention/core/config.py
  src/torchbridge/attention/core/registry.py
  src/torchbridge/attention/dispatch/dispatcher.py
  src/torchbridge/attention/implementations/__init__.py
  src/torchbridge/attention/implementations/flash_attention.py
  src/torchbridge/attention/implementations/memory_efficient.py
  src/torchbridge/attention/implementations/sparse.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/nvidia/flash_attention_integration.py
  tests/backends/test_nvidia_backend.py
  tests/e2e/test_user_journey.py
  tests/integration/test_attention_dispatch_integration.py
  tests/integration/test_attention_dispatch_pipeline.py
  tests/integration/test_full_pipeline.py
  tests/robustness/test_missing_deps.py
  tests/robustness/test_network_failures.py
  tests/unit/test_attention_dispatcher.py
  tests/unit/test_dispatch_single_path.py
  tests/unit/test_gqa_config.py
Due: unittests, integration, Attention Module

v0.5.58: Contraction VII — engine layer + utils deleted (~2,481 lines)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/__init__.py
  src/torchbridge/adapters/engine.py
  src/torchbridge/adapters/layers.py
  src/torchbridge/adapters/model_families.py
  src/torchbridge/adapters/serving.py
  src/torchbridge/cli/adapter.py
  src/torchbridge/inference/__init__.py
  src/torchbridge/inference/speculative/__init__.py
  src/torchbridge/inference/speculative/engine.py
  src/torchbridge/inference/structured/__init__.py
  src/torchbridge/inference/structured/processor.py
  src/torchbridge/utils/deprecation_manager.py
  src/torchbridge/utils/model_analyzer.py
  tests/integration/test_adapter_auto_detect_pipeline.py
  tests/integration/test_adapter_pipeline.py
  tests/integration/test_speculation_e2e.py
  tests/integration/test_speculation_pipeline.py
  tests/integration/test_speculation_validation.py
  tests/unit/test_adapter_auto_detect.py
  tests/unit/test_adapter_cli_detect.py
  tests/unit/test_adapter_engine.py
  tests/unit/test_adapter_layers.py
  tests/unit/test_adapter_memory_report.py
  tests/unit/test_adapter_robustness.py
  tests/unit/test_adapter_serving.py
  tests/unit/test_draft_model_validation.py
  tests/unit/test_model_families.py
  tests/unit/test_speculation_engine.py
  tests/unit/test_speculative_clarity.py
  tests/unit/test_structured_output.py
Due: unittests, integration

v0.5.58: refactor: remove engine layer, defer to framework utilities (#20)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/__init__.py
  src/torchbridge/adapters/engine.py
  src/torchbridge/adapters/layers.py
  src/torchbridge/adapters/model_families.py
  src/torchbridge/adapters/serving.py
  src/torchbridge/cli/adapter.py
  src/torchbridge/inference/__init__.py
  src/torchbridge/inference/speculative/__init__.py
  src/torchbridge/inference/speculative/engine.py
  src/torchbridge/inference/structured/__init__.py
  src/torchbridge/inference/structured/processor.py
  src/torchbridge/utils/deprecation_manager.py
  src/torchbridge/utils/model_analyzer.py
  tests/integration/test_adapter_auto_detect_pipeline.py
  tests/integration/test_adapter_pipeline.py
  tests/integration/test_speculation_e2e.py
  tests/integration/test_speculation_pipeline.py
  tests/integration/test_speculation_validation.py
  tests/unit/test_adapter_auto_detect.py
  tests/unit/test_adapter_cli_detect.py
  tests/unit/test_adapter_engine.py
  tests/unit/test_adapter_layers.py
  tests/unit/test_adapter_memory_report.py
  tests/unit/test_adapter_robustness.py
  tests/unit/test_adapter_serving.py
  tests/unit/test_draft_model_validation.py
  tests/unit/test_model_families.py
  tests/unit/test_speculation_engine.py
  tests/unit/test_speculative_clarity.py
  tests/unit/test_structured_output.py
Due: unittests, integration

v0.5.58: Contraction VII — engine layer + utils deleted (~2,481 lines) (#20)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/adapters/__init__.py
  src/torchbridge/adapters/engine.py
  src/torchbridge/adapters/layers.py
  src/torchbridge/adapters/model_families.py
  src/torchbridge/adapters/serving.py
  src/torchbridge/cli/adapter.py
  src/torchbridge/inference/__init__.py
  src/torchbridge/inference/speculative/__init__.py
  src/torchbridge/inference/speculative/engine.py
  src/torchbridge/inference/structured/__init__.py
  src/torchbridge/inference/structured/processor.py
  src/torchbridge/utils/deprecation_manager.py
  src/torchbridge/utils/model_analyzer.py
  tests/integration/test_adapter_auto_detect_pipeline.py
  tests/integration/test_adapter_pipeline.py
  tests/integration/test_speculation_e2e.py
  tests/integration/test_speculation_pipeline.py
  tests/integration/test_speculation_validation.py
  tests/unit/test_adapter_auto_detect.py
  tests/unit/test_adapter_cli_detect.py
  tests/unit/test_adapter_engine.py
  tests/unit/test_adapter_layers.py
  tests/unit/test_adapter_memory_report.py
  tests/unit/test_adapter_robustness.py
  tests/unit/test_adapter_serving.py
  tests/unit/test_draft_model_validation.py
  tests/unit/test_model_families.py
  tests/unit/test_speculation_engine.py
  tests/unit/test_speculative_clarity.py
  tests/unit/test_structured_output.py
Due: unittests, integration

v0.5.59: Multi-Step Trace Validation — agentic AI divergence amplifier
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/integration/test_trace_pipeline.py
  tests/unit/test_trace_validator.py
Due: unittests, integration

v0.5.59: feat: multi-step trace validation for agentic AI chains (#21)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/integration/test_trace_pipeline.py
  tests/unit/test_trace_validator.py
Due: unittests, integration

v0.5.59: Multi-Step Trace Validation — agentic AI divergence amplifier (#21)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/validate.py
  src/torchbridge/testing/trace_validator.py
  tests/integration/test_trace_pipeline.py
  tests/unit/test_trace_validator.py
Due: unittests, integration

v0.5.60: Disaggregated Fleet Config Advisor
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/advisor.py
  src/torchbridge/inference/__init__.py
  src/torchbridge/inference/disaggregated.py
  tests/integration/test_disaggregated_pipeline.py
  tests/unit/test_disaggregated_fleet.py
Due: unittests, integration

v0.5.60: Disaggregated Fleet Config Advisor (#22)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/advisor.py
  src/torchbridge/inference/__init__.py
  src/torchbridge/inference/disaggregated.py
  tests/integration/test_disaggregated_pipeline.py
  tests/unit/test_disaggregated_fleet.py
Due: unittests, integration

v0.5.60: feat: disaggregated fleet config advisor (#22)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/advisor.py
  src/torchbridge/inference/__init__.py
  src/torchbridge/inference/disaggregated.py
  tests/integration/test_disaggregated_pipeline.py
  tests/unit/test_disaggregated_fleet.py
Due: unittests, integration

Path conditions:
  unittests: any of: src/, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  integration: any of: src/, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Attention Module: any of: src/torchbridge/attention/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Precision Module: any of: src/torchbridge/precision/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Memory Module: any of: src/torchbridge/advanced_memory/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Hardware Backends: any of: src/torchbridge/hardware/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Deployment: any of: src/torchbridge/deployment/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
  Distributed Training: any of: src/torchbridge/models/distributed/**, but not: tests/**/*, benchmarks/**/*, examples/**/*, demos/**/*, docs/**/*, scripts/**/*, **/__pycache__/**, **/conftest.py, setup.py
