Repository CloudlyIO/torchbridge: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Attention Module, Precision Module, Memory Module, Hardware Backends, Deployment, Distributed Training

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  unittests:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

ignore:
  - "tests/**/*"
  - "benchmarks/**/*"
  - "examples/**/*"
  - "demos/**/*"
  - "docs/**/*"
  - "scripts/**/*"
  - "**/__pycache__/**"
  - "**/conftest.py"
  - "setup.py"

# Component configuration for granular coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: attention
      name: Attention Module
      paths:
        - src/torchbridge/attention/**
    - component_id: precision
      name: Precision Module
      paths:
        - src/torchbridge/precision/**
    - component_id: memory
      name: Memory Module
      paths:
        - src/torchbridge/advanced_memory/**
    - component_id: hardware
      name: Hardware Backends
      paths:
        - src/torchbridge/hardware/**
    - component_id: deployment
      name: Deployment
      paths:
        - src/torchbridge/deployment/**
    - component_id: distributed
      name: Distributed Training
      paths:
        - src/torchbridge/models/distributed/**

docs: correctness pass + CLI bugfixes (v0.5.81)
  CHANGELOG.md
  README.md
  docs/guides/adapter-training.md
  docs/guides/attention.md
  docs/guides/checkpointing.md
  docs/guides/distributed-training.md
  docs/guides/performance-tuning.md
  docs/guides/speculative-decoding.md
  docs/guides/testing.md
  pyproject.toml
  src/torchbridge/cli/benchmark.py
  src/torchbridge/cli/quantize.py
  src/torchbridge/cli/validate.py
Due: unittests, integration

docs: contributor onboarding fixes (v0.5.82)
  CHANGELOG.md
  CONTRIBUTING.md
  docs/guides/testing.md
  pyproject.toml
Due: none

fix: smoke model dtype mismatch in tb-validate --compare (v0.5.83)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/validate.py
  tests/unit/test_validate_compare.py
Due: unittests, integration

fix: flaky Qwen3 compile test — cosine sim + argmax instead of max_diff (v0.5.84)
  CHANGELOG.md
  pyproject.toml
  tests/stress/test_torch_compile_compat.py
Due: none

v0.5.85: Docs correctness pass II — five doc bugs fixed
  CHANGELOG.md
  README.md
  docs/getting_started/installation.md
  docs/getting_started/troubleshooting.md
  docs/guides/adapter-training.md
  docs/guides/backend-selection.md
  pyproject.toml
Due: none

fix: tb-doctor --ci exits 2 (warning) on healthy Apple Silicon machines
  src/torchbridge/cli/doctor.py
  tests/cli/test_doctor.py
Due: unittests, integration

fix: tb-doctor --ci exits 2 on healthy Apple Silicon (MPS) machines (#53)
  CHANGELOG.md
  README.md
  docs/getting_started/installation.md
  docs/getting_started/troubleshooting.md
  docs/guides/adapter-training.md
  docs/guides/backend-selection.md
  pyproject.toml
  src/torchbridge/cli/doctor.py
  tests/cli/test_doctor.py
Due: unittests, integration

chore: bump version to v0.5.86
  CHANGELOG.md
  pyproject.toml
Due: none

fix: 3 CI failures — bandit confidence-level case, Docker requirements.txt, quantized model memory (v0.5.87)
  .github/workflows/security.yml
  CHANGELOG.md
  docker/Dockerfile.amd
  docker/Dockerfile.cpu
  docker/Dockerfile.nvidia
  docker/Dockerfile.trainium
  pyproject.toml
  src/torchbridge/precision/quantization/engine.py
Due: unittests, integration, Precision Module

fix: CI cleanup v0.5.88 — CodeQL GHAS gate, AMD base image, build-system isolation, ruff format
  .github/workflows/security.yml
  CHANGELOG.md
  docker/Dockerfile.amd
  pyproject.toml
  src/torchbridge/cli/doctor.py
  src/torchbridge/cli/validate.py
  tests/stress/test_torch_compile_compat.py
Due: unittests, integration

fix: bandit security findings + ruff 0.15.x format (v0.5.89)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/backends/tpu/xla_compiler.py
  src/torchbridge/backends/trainium/neuron_compiler.py
  src/torchbridge/backends/trainium/neuron_utilities.py
  src/torchbridge/cli/quantize.py
  src/torchbridge/cli/validate.py
  tests/unit/test_exception_logging.py
Due: unittests, integration

fix: free disk space before AMD Docker build — ROCm image exhausts runner (v0.5.90)
  .github/workflows/docker.yml
  CHANGELOG.md
  pyproject.toml
Due: none

fix: coverage threshold 75→70 — GPU paths structurally uncoverable in CPU-only CI (v0.5.91)
  .github/workflows/ci.yml
  CHANGELOG.md
  pyproject.toml
Due: none

fix: pip-audit --skip-editable so local dev install doesn't fail audit (v0.5.92)
  .github/workflows/security.yml
  CHANGELOG.md
  pyproject.toml
Due: none

fix: pip-audit audit deps directly — editable install rejected by pip-audit 2.10.0 even with --strict+--skip-editable (v0.5.92)
  .github/workflows/security.yml
  CHANGELOG.md
Due: none

ci: disable test-gpu job — no self-hosted runner attached, queued job blocks CI green status indefinitely
  .github/workflows/ci.yml
Due: none

ci: disable AMD Docker build (standard runner too small for ROCm ~20 GB); fix publish missing pytest
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Due: none

ci: remove CodeQL job — GHAS required for private repos, always fails; re-add after going public
  .github/workflows/security.yml
Due: none

chore: community launch polish — author email, LICENSE year 2025→2025-2026, .readthedocs.yml
  .readthedocs.yml
  LICENSE
  pyproject.toml
Due: none

fix: test_fail_when_below_threshold flaky on Python 3.13 — use equal-sleep fns to guarantee 0% speedup
  tests/unit/test_claim_benchmarks.py
Due: none
