Repository CloudlyIO/torchbridge: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Attention Module, Precision Module, Memory Module, Hardware Backends, Deployment, Distributed Training

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  unittests:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

ignore:
  - "tests/**/*"
  - "benchmarks/**/*"
  - "examples/**/*"
  - "demos/**/*"
  - "docs/**/*"
  - "scripts/**/*"
  - "**/__pycache__/**"
  - "**/conftest.py"
  - "setup.py"

# Component configuration for granular coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: attention
      name: Attention Module
      paths:
        - src/torchbridge/attention/**
    - component_id: precision
      name: Precision Module
      paths:
        - src/torchbridge/precision/**
    - component_id: memory
      name: Memory Module
      paths:
        - src/torchbridge/advanced_memory/**
    - component_id: hardware
      name: Hardware Backends
      paths:
        - src/torchbridge/hardware/**
    - component_id: deployment
      name: Deployment
      paths:
        - src/torchbridge/deployment/**
    - component_id: distributed
      name: Distributed Training
      paths:
        - src/torchbridge/models/distributed/**

v0.5.69: Quality hardening — all dimensions ≥ 8/10
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/cli/validate.py
  src/torchbridge/distributed/config.py
  src/torchbridge/precision/quantization/compatibility.py
  src/torchbridge/testing/divergence.py
  src/torchbridge/testing/otel_exporter.py
  src/torchbridge/testing/tolerance_db.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_advisor_cli.py
  tests/unit/test_divergence_tracer.py
  tests/unit/test_otel_exporter.py
  tests/unit/test_tolerance_db.py
  tests/unit/test_trace_validator.py
  tests/unit/test_validate_compare.py
Due: unittests, integration, Attention Module, Precision Module

v0.5.69: Quality hardening — all dimensions ≥ 8/10 (#31)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/cli/validate.py
  src/torchbridge/distributed/config.py
  src/torchbridge/precision/quantization/compatibility.py
  src/torchbridge/testing/divergence.py
  src/torchbridge/testing/otel_exporter.py
  src/torchbridge/testing/tolerance_db.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_advisor_cli.py
  tests/unit/test_divergence_tracer.py
  tests/unit/test_otel_exporter.py
  tests/unit/test_tolerance_db.py
  tests/unit/test_trace_validator.py
  tests/unit/test_validate_compare.py
Due: unittests, integration, Attention Module, Precision Module

v0.5.69: fix: reliability improvements — all quality dimensions ≥ 8/10 (#31)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/attention/dispatch/compatibility.py
  src/torchbridge/cli/validate.py
  src/torchbridge/distributed/config.py
  src/torchbridge/precision/quantization/compatibility.py
  src/torchbridge/testing/divergence.py
  src/torchbridge/testing/otel_exporter.py
  src/torchbridge/testing/tolerance_db.py
  src/torchbridge/testing/trace_validator.py
  tests/unit/test_advisor_cli.py
  tests/unit/test_divergence_tracer.py
  tests/unit/test_otel_exporter.py
  tests/unit/test_tolerance_db.py
  tests/unit/test_trace_validator.py
  tests/unit/test_validate_compare.py
Due: unittests, integration, Attention Module, Precision Module

v0.5.70: Integration test expansion
  CHANGELOG.md
  pyproject.toml
  tests/integration/test_advisor_hetero.py
  tests/integration/test_divergence_tracer_pipeline.py
  tests/integration/test_otel_validate.py
  tests/integration/test_tolerance_fallback_pipeline.py
  tests/integration/test_trace_pipeline.py
Due: none

v0.5.70: Integration test expansion (#32)
  CHANGELOG.md
  pyproject.toml
  tests/integration/test_advisor_hetero.py
  tests/integration/test_divergence_tracer_pipeline.py
  tests/integration/test_otel_validate.py
  tests/integration/test_tolerance_fallback_pipeline.py
  tests/integration/test_trace_pipeline.py
Due: none

v0.5.70: test: integration test expansion (#32)
  CHANGELOG.md
  pyproject.toml
  tests/integration/test_advisor_hetero.py
  tests/integration/test_divergence_tracer_pipeline.py
  tests/integration/test_otel_validate.py
  tests/integration/test_tolerance_fallback_pipeline.py
  tests/integration/test_trace_pipeline.py
Due: none

v0.5.71: Privacy gap close — model path sanitization + OTel data-retention notice
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/validate.py
  tests/unit/test_validate_compare.py
Due: unittests, integration

v0.5.71: fix: model path sanitization, add OTel data-retention notice (#33)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/validate.py
  tests/unit/test_validate_compare.py
Due: unittests, integration

v0.5.71: Privacy gap close — model path sanitization + OTel data-retention notice (#33)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/cli/validate.py
  tests/unit/test_validate_compare.py
Due: unittests, integration

v0.5.73: Model loading fix + manual testing audit
  CHANGELOG.md
  docs/guides/quantization.md
  pyproject.toml
  src/torchbridge/cli/validate.py
Due: unittests, integration

v0.5.73: Model loading fix + manual testing audit (#35)
  CHANGELOG.md
  docs/guides/quantization.md
  pyproject.toml
  src/torchbridge/cli/validate.py
Due: unittests, integration

v0.5.73: fix: model loading fix, documentation audit (#35)
  CHANGELOG.md
  docs/guides/quantization.md
  pyproject.toml
  src/torchbridge/cli/validate.py
Due: unittests, integration

v0.5.74: Contraction IX — Backend adapter cleanup + compile compatibility matrix
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/backends/amd/amd_adapter.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/backends/base_adapter.py
  src/torchbridge/backends/base_backend.py
  src/torchbridge/backends/compile_compatibility.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/nvidia/fp8_compiler.py
  src/torchbridge/backends/nvidia/nvidia_adapter.py
  src/torchbridge/backends/nvidia/nvidia_backend.py
  src/torchbridge/backends/tpu/tpu_adapter.py
  src/torchbridge/backends/tpu/tpu_backend.py
  src/torchbridge/backends/trainium/trainium_backend.py
  tests/backends/test_nvidia_backend.py
  tests/unit/test_amd_backend_adapter.py
  tests/unit/test_compile_compatibility.py
Due: unittests, integration

v0.5.74: refactor: Backend adapter cleanup + compile compatibility matrix (#36)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/backends/amd/amd_adapter.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/backends/base_adapter.py
  src/torchbridge/backends/base_backend.py
  src/torchbridge/backends/compile_compatibility.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/nvidia/fp8_compiler.py
  src/torchbridge/backends/nvidia/nvidia_adapter.py
  src/torchbridge/backends/nvidia/nvidia_backend.py
  src/torchbridge/backends/tpu/tpu_adapter.py
  src/torchbridge/backends/tpu/tpu_backend.py
  src/torchbridge/backends/trainium/trainium_backend.py
  tests/backends/test_nvidia_backend.py
  tests/unit/test_amd_backend_adapter.py
  tests/unit/test_compile_compatibility.py
Due: unittests, integration

v0.5.74: Contraction IX — Backend adapter cleanup + compile compatibility matrix (#36)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/backends/amd/amd_adapter.py
  src/torchbridge/backends/amd/amd_backend.py
  src/torchbridge/backends/base_adapter.py
  src/torchbridge/backends/base_backend.py
  src/torchbridge/backends/compile_compatibility.py
  src/torchbridge/backends/nvidia/__init__.py
  src/torchbridge/backends/nvidia/fp8_compiler.py
  src/torchbridge/backends/nvidia/nvidia_adapter.py
  src/torchbridge/backends/nvidia/nvidia_backend.py
  src/torchbridge/backends/tpu/tpu_adapter.py
  src/torchbridge/backends/tpu/tpu_backend.py
  src/torchbridge/backends/trainium/trainium_backend.py
  tests/backends/test_nvidia_backend.py
  tests/unit/test_amd_backend_adapter.py
  tests/unit/test_compile_compatibility.py
Due: unittests, integration

v0.5.75: CLI Cleanup — 9 correctness fixes across 5 commands
  CHANGELOG.md
  docs/guides/adapter-training.md
  pyproject.toml
  src/torchbridge/cli/adapter.py
  src/torchbridge/cli/benchmark.py
  src/torchbridge/cli/doctor.py
  src/torchbridge/cli/quantize.py
  src/torchbridge/cli/validate.py
  tests/unit/test_cli_adapter.py
  tests/unit/test_cli_benchmark.py
  tests/unit/test_cli_doctor.py
  tests/unit/test_cli_quantize.py
  tests/unit/test_cli_validate.py
  tests/unit/test_quantization_cli.py
Due: unittests, integration

v0.5.75: fix: 9 correctness fixes across 5 commands (#37)
  CHANGELOG.md
  docs/guides/adapter-training.md
  pyproject.toml
  src/torchbridge/cli/adapter.py
  src/torchbridge/cli/benchmark.py
  src/torchbridge/cli/doctor.py
  src/torchbridge/cli/quantize.py
  src/torchbridge/cli/validate.py
  tests/unit/test_cli_adapter.py
  tests/unit/test_cli_benchmark.py
  tests/unit/test_cli_doctor.py
  tests/unit/test_cli_quantize.py
  tests/unit/test_cli_validate.py
  tests/unit/test_quantization_cli.py
Due: unittests, integration

v0.5.75: CLI Cleanup — 9 correctness fixes across 5 commands (#37)
  CHANGELOG.md
  docs/guides/adapter-training.md
  pyproject.toml
  src/torchbridge/cli/adapter.py
  src/torchbridge/cli/benchmark.py
  src/torchbridge/cli/doctor.py
  src/torchbridge/cli/quantize.py
  src/torchbridge/cli/validate.py
  tests/unit/test_cli_adapter.py
  tests/unit/test_cli_benchmark.py
  tests/unit/test_cli_doctor.py
  tests/unit/test_cli_quantize.py
  tests/unit/test_cli_validate.py
  tests/unit/test_quantization_cli.py
Due: unittests, integration

v0.5.76: Contraction X — management/ cleanup
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/core/management/__init__.py
  src/torchbridge/core/management/base.py
  src/torchbridge/core/management/hardware_manager.py
  src/torchbridge/core/management/optimization_manager.py
  src/torchbridge/core/management/unified_manager.py
  tests/unit/test_management_contraction.py
Due: unittests, integration

v0.5.76: Contraction X — management/ cleanup (#38)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/core/management/__init__.py
  src/torchbridge/core/management/base.py
  src/torchbridge/core/management/hardware_manager.py
  src/torchbridge/core/management/optimization_manager.py
  src/torchbridge/core/management/unified_manager.py
  tests/unit/test_management_contraction.py
Due: unittests, integration

v0.5.76: refactor: management/ cleanup (#38)
  CHANGELOG.md
  pyproject.toml
  src/torchbridge/core/management/__init__.py
  src/torchbridge/core/management/base.py
  src/torchbridge/core/management/hardware_manager.py
  src/torchbridge/core/management/optimization_manager.py
  src/torchbridge/core/management/unified_manager.py
  tests/unit/test_management_contraction.py
Due: unittests, integration
